Repository STEllAR-GROUP/phylanx, pull requests merged in 2018-10, with the labels that each got.

#606 Replacing set_row with slice in als.physl
  examples/algorithms/als/als.physl
Labels: category: algorithms, category: primitives, type: enhancement

#587 Adding arange primitive
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/plugins/booleans/comparison_impl.hpp
  phylanx/plugins/matrixops/arange.hpp
  phylanx/plugins/matrixops/matrixops.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/execution_tree/primitives/format_string.cpp
  src/plugins/algorithms/lra.cpp
  src/plugins/controls/for_each.cpp
  src/plugins/controls/for_operation.cpp
  src/plugins/controls/while_operation.cpp
  src/plugins/matrixops/arange.cpp
  src/plugins/matrixops/matrixops.cpp
  src/plugins/matrixops/sum_operation.cpp
  src/plugins/solvers/decomposition.cpp
  tests/regressions/execution_tree/assign_wrong_variable_245.cpp
  tests/unit/execution_tree/generate_tree.cpp
  tests/unit/plugins/booleans/all_operation.cpp
  tests/unit/plugins/booleans/any_operation.cpp
  tests/unit/plugins/controls/for_operation.cpp
  tests/unit/plugins/controls/while_operation.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/arange.cpp
  tests/unit/plugins/solvers/decomposition.cpp
Labels: category: primitives, type: enhancement

#604 Making sure IO primitives perform actual IO on a dedicated thread
  phylanx/plugins/fileio/file_read.hpp
  phylanx/plugins/fileio/file_read_csv.hpp
  phylanx/plugins/fileio/file_write.hpp
  phylanx/plugins/fileio/file_write_csv.hpp
  src/ir/node_data.cpp
  src/plugins/fileio/file_read.cpp
  src/plugins/fileio/file_read_csv.cpp
  src/plugins/fileio/file_write.cpp
  src/plugins/fileio/file_write_csv.cpp
Labels: category: primitives, type: enhancement

#607 Fixing slicing_nil_358
  tests/regressions/execution_tree/slicing_nil_358.cpp
Labels: category: tests, type: enhancement

#608 Fixing random_distributions test
  src/plugins/matrixops/random.cpp
  tests/unit/plugins/matrixops/random_distributions.cpp
Labels: category: tests, type: enhancement

#610 Adding cumulative sum primitive
  phylanx/plugins/matrixops/cumsum.hpp
  phylanx/plugins/matrixops/matrixops.hpp
  src/plugins/matrixops/cumsum.cpp
  src/plugins/matrixops/matrixops.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/cumsum.cpp
Labels: category: primitives, type: enhancement

#611 Add a diagnostic message to the interpreter
  examples/interpreter/physl.cpp
Labels: category: examples, type: enhancement

#612 extract_copy_value now performs a deep copy of lists, etc.
  src/execution_tree/primitives/base_primitive.cpp
  tests/regressions/python/596_list_arrays.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, category: PhySL

#619 Use Blaze 3.4 instead of master
  tools/docker/base/Dockerfile
Labels: category: continuous integration

#625 Fixed misplaced line, extra whitespace
  tools/docker/base/Dockerfile
Labels: category: continuous integration

#618 Added BlazeIterative to Phylanx base image
  tools/docker/base/Dockerfile
Labels: category: continuous integration

#626 Updating simple als test
  tests/unit/algorithm/simple_als.cpp
Labels: category: tests, type: compatibility issue, type: enhancement

#629 Single layer nn
  examples/algorithms/nn/nn.py
Labels: category: algorithms

#630 Attempting to fix failing test
  phylanx/execution_tree/primitives/base_primitive.hpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/base_primitive.cpp
  src/ir/ranges.cpp
Labels: category: tests, type: enhancement

#615 Adds support for using dictionaries in Python
  python/phylanx/ast/physl.py
  src/execution_tree/primitives/slice.cpp
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/dictionary.py
Labels: category: @Phylanx, submodule: frontend

#628 Preconditioner
  .circleci/config.yml
  CMakeLists.txt
  cmake/FindBlazeIterative.cmake
  src/plugins/solvers/linear_solver.cpp
  tests/unit/plugins/solvers/linear_solver.cpp
Labels: category: primitives, type: enhancement

#631 Fix the file name issue.
  python/phylanx/ast/physl.py
Labels: category: @Phylanx, submodule: frontend, type: enhancement

#613 Fixing 595
  python/phylanx/ast/physl.py
  tests/unit/python/execution_tree/eval.py
Labels: category: @Phylanx, compiler: python, type: enhancement

#616 Advanced indexing
  cmake/Phylanx_SetupHPX.cmake
  phylanx/execution_tree/primitives/detail/advanced_indexes.hpp
  phylanx/execution_tree/primitives/detail/slice_assign.hpp
  phylanx/execution_tree/primitives/detail/slice_identity.hpp
  phylanx/execution_tree/primitives/node_data_helpers.hpp
  phylanx/execution_tree/primitives/slice_node_data.hpp
  phylanx/execution_tree/primitives/slice_node_data_0d.hpp
  phylanx/execution_tree/primitives/slice_node_data_1d.hpp
  phylanx/execution_tree/primitives/slice_node_data_2d.hpp
  phylanx/plugins/matrixops/random.hpp
  phylanx/util/slicing_helpers.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/execution_tree/primitives/slice.cpp
  src/execution_tree/primitives/slice_node_data.cpp
  src/plugins/matrixops/random.cpp
  src/util/slicing_helpers.cpp
  tests/performance/simple_loop.cpp
  tests/regressions/python/624_advanced_indexing.py
  tests/regressions/python/CMakeLists.txt
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/advanced_boolean_slicing.cpp
  tests/unit/execution_tree/primitives/advanced_integer_slicing.cpp
  tests/unit/plugins/matrixops/random_distributions.cpp
  tests/unit/plugins/matrixops/slicing_operation.cpp
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/slice.py
Labels: category: PhySL, category: primitives, submodule: backend, type: enhancement

#627 Expose performance information (CSV, DOT) to Python
  phylanx/util/performance_data.hpp
  python/phylanx/ast/physl.py
  python/phylanx/ast/transducer.py
  python/src/bindings/binding_helpers.cpp
  python/src/bindings/binding_helpers.hpp
  python/src/bindings/execution_tree.cpp
  src/util/performance_data.cpp
Labels: category: @Phylanx, type: enhancement

#634 Adding test verifying issue 337 has been fixed
  tests/regressions/execution_tree/CMakeLists.txt
  tests/regressions/execution_tree/external_functions_337.cpp
Labels: category: PhySL

#637 Have shuffle and random primitive share their RNG
  phylanx/plugins/matrixops/random.hpp
  phylanx/plugins/matrixops/shuffle_operation.hpp
  phylanx/util/random.hpp
  src/plugins/matrixops/random.cpp
  src/plugins/matrixops/shuffle_operation.cpp
  src/util/random.cpp
Labels: category: primitives, type: enhancement

#623 Adding the infrastructure to support dtype specification
  phylanx/ast/detail/is_function_call.hpp
  phylanx/execution_tree/primitives/node_data_helpers.hpp
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  phylanx/plugins/matrixops/arange.hpp
  phylanx/plugins/matrixops/constant.hpp
  phylanx/plugins/matrixops/cumsum.hpp
  phylanx/plugins/matrixops/hstack_operation.hpp
  phylanx/plugins/matrixops/identity.hpp
  phylanx/plugins/matrixops/vstack_operation.hpp
  phylanx/plugins/plugin_factory.hpp
  python/phylanx/ast/physl.py
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/node_data_helpers.cpp
  src/execution_tree/primitives/primitive_component.cpp
  src/performance_counters/register_counters.cpp
  src/plugins/booleans/nonzero_where.cpp
  src/plugins/listops/car_cdr_operation.cpp
  src/plugins/listops/make_list.cpp
  src/plugins/matrixops/arange.cpp
  src/plugins/matrixops/constant.cpp
  src/plugins/matrixops/cumsum.cpp
  src/plugins/matrixops/generic_operation.cpp
  src/plugins/matrixops/hstack_operation.cpp
  src/plugins/matrixops/identity.cpp
  src/plugins/matrixops/slicing_operation.cpp
  src/plugins/matrixops/vstack_operation.cpp
  src/plugins/solvers/decomposition.cpp
  src/plugins/solvers/linear_solver.cpp
  tests/regressions/python/508_unknown_named_argument.py
  tests/regressions/python/635_arange_args.py
  tests/regressions/python/636_boolean_array.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/no_parens_decorator_407.py
  tests/unit/performance_counters/primitive_counter.cpp
  tests/unit/plugins/matrixops/arange.cpp
  tests/unit/plugins/matrixops/cumsum.cpp
  tests/unit/python/ast/generate_ast.py
  tests/unit/python/execution_tree/map_numpy.py
  tests/unit/python/execution_tree/primitives/CMakeLists.txt
  tests/unit/python/execution_tree/primitives/numpy_dtype.py
  tools/check_help/check_help.py
  tools/flake8/config.ini
  tools/flake8/flake_to_junit.py
  tools/inspect/inspect_to_junit.py
  tools/vim/.ycm_extra_conf.py
Labels: category: PhySL, category: primitives, type: enhancement

#642 First steps towards allowing assignments to function arguments
  phylanx/execution_tree/primitives/access_argument.hpp
  phylanx/execution_tree/primitives/slice_node_data_2d.hpp
  python/phylanx/ast/physl.py
  python/src/bindings/binding_helpers.hpp
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/access_variable.cpp
  src/execution_tree/primitives/base_primitive.cpp
  src/execution_tree/primitives/slice.cpp
  src/execution_tree/primitives/slice_node_data.cpp
  src/execution_tree/primitives/slice_range.cpp
  src/execution_tree/primitives/variable.cpp
  tests/regressions/python/466_compiler_problems.py
  tests/regressions/python/640_function_argument.py
  tests/regressions/python/CMakeLists.txt
  tools/VS/primitive_argument_type.natvis
Labels: category: @Phylanx, category: PhySL, category: primitives, type: enhancement
