Repository STEllAR-GROUP/phylanx, pull requests merged in 2018-03, with the labels that each got.

#257 Refactor primitives to new style
  phylanx/execution_tree/primitives/add_operation.hpp
  phylanx/execution_tree/primitives/and_operation.hpp
  phylanx/execution_tree/primitives/block_operation.hpp
  phylanx/execution_tree/primitives/column_set.hpp
  phylanx/execution_tree/primitives/column_slicing.hpp
  phylanx/execution_tree/primitives/constant.hpp
  phylanx/execution_tree/primitives/cross_operation.hpp
  phylanx/execution_tree/primitives/debug_output.hpp
  phylanx/execution_tree/primitives/define_function.hpp
  phylanx/execution_tree/primitives/determinant.hpp
  phylanx/execution_tree/primitives/diag_operation.hpp
  phylanx/execution_tree/primitives/div_operation.hpp
  phylanx/execution_tree/primitives/dot_operation.hpp
  src/execution_tree/primitives/add_operation.cpp
  src/execution_tree/primitives/and_operation.cpp
  src/execution_tree/primitives/block_operation.cpp
  src/execution_tree/primitives/column_set.cpp
  src/execution_tree/primitives/column_slicing.cpp
  src/execution_tree/primitives/constant.cpp
  src/execution_tree/primitives/cross_operation.cpp
  src/execution_tree/primitives/debug_output.cpp
  src/execution_tree/primitives/determinant.cpp
  src/execution_tree/primitives/diag_operation.cpp
  src/execution_tree/primitives/div_operation.cpp
  src/execution_tree/primitives/dot_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#258 Refactor bindings
  cmake/templates/__init__.py.in
  python/src/CMakeLists.txt
  python/src/bindings/ast.cpp
  python/src/bindings/binding_helpers.hpp
  python/src/bindings/execution_tree.cpp
  python/src/bindings/type_casters.hpp
  python/src/bindings/util.cpp
  python/src/init_hpx.cpp
  python/src/init_hpx.hpp
  python/src/phylanx.cpp
Labels: submodule: frontend, type: enhancement

#261 Refactor primitives to new style (2)
  phylanx/execution_tree/primitives/constant.hpp
  phylanx/execution_tree/primitives/equal.hpp
  phylanx/execution_tree/primitives/exponential_operation.hpp
  phylanx/execution_tree/primitives/extract_shape.hpp
  phylanx/execution_tree/primitives/file_write.hpp
  phylanx/execution_tree/primitives/file_write_csv.hpp
  phylanx/execution_tree/primitives/file_write_hdf5.hpp
  src/execution_tree/primitives/equal.cpp
  src/execution_tree/primitives/exponential_operation.cpp
  src/execution_tree/primitives/extract_shape.cpp
  src/execution_tree/primitives/file_write.cpp
  src/execution_tree/primitives/file_write_csv.cpp
  src/execution_tree/primitives/file_write_hdf5.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#264 Check environment variables when HPX_DIR is not explicitly set
  cmake/Phylanx_SetupHPX.cmake
Labels: category: CMake, type: enhancement

#259 Any and All primitives
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/all_operation.hpp
  phylanx/execution_tree/primitives/any_operation.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/all_operation.cpp
  src/execution_tree/primitives/any_operation.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/all_operation.cpp
  tests/unit/execution_tree/primitives/any_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#265 Refactor primitives to new style (3)
  phylanx/execution_tree/primitives/for_operation.hpp
  phylanx/execution_tree/primitives/greater.hpp
  phylanx/execution_tree/primitives/greater_equal.hpp
  phylanx/execution_tree/primitives/hstack_operation.hpp
  phylanx/execution_tree/primitives/identity.hpp
  phylanx/execution_tree/primitives/inverse_operation.hpp
  phylanx/execution_tree/primitives/less.hpp
  phylanx/execution_tree/primitives/less_equal.hpp
  phylanx/execution_tree/primitives/row_slicing.hpp
  phylanx/execution_tree/primitives/slicing_operation.hpp
  phylanx/execution_tree/primitives/vstack_operation.hpp
  src/execution_tree/primitives/for_operation.cpp
  src/execution_tree/primitives/greater.cpp
  src/execution_tree/primitives/greater_equal.cpp
  src/execution_tree/primitives/hstack_operation.cpp
  src/execution_tree/primitives/identity.cpp
  src/execution_tree/primitives/inverse_operation.cpp
  src/execution_tree/primitives/less.cpp
  src/execution_tree/primitives/less_equal.cpp
  src/execution_tree/primitives/row_slicing.cpp
  src/execution_tree/primitives/slicing_operation.cpp
  src/execution_tree/primitives/vstack_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#260 Symbol Introspection Facilities for the Python Front-end
  python/phylanx/ast/transformation.py
  python/phylanx/ast/utils.py
  tests/unit/python/execution_tree/eval.py
Labels: category: @Phylanx, submodule: frontend, type: enhancement

#263 Shuffle Primitive
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/shuffle_operation.hpp
  phylanx/ir/node_data.hpp
  phylanx/util/matrix_iterators.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/shuffle_operation.cpp
  src/execution_tree/primitives/variable.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/shuffle_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#270 Refactor primitives to new style (4)
  phylanx/execution_tree/primitives/if_conditional.hpp
  phylanx/execution_tree/primitives/linearmatrix.hpp
  phylanx/execution_tree/primitives/linspace.hpp
  phylanx/execution_tree/primitives/mul_operation.hpp
  phylanx/execution_tree/primitives/not_equal.hpp
  phylanx/execution_tree/primitives/or_operation.hpp
  phylanx/execution_tree/primitives/parallel_block_operation.hpp
  phylanx/execution_tree/primitives/power_operation.hpp
  phylanx/execution_tree/primitives/row_set.hpp
  phylanx/execution_tree/primitives/row_slicing.hpp
  phylanx/execution_tree/primitives/set_operation.hpp
  phylanx/execution_tree/primitives/slicing_operation.hpp
  phylanx/execution_tree/primitives/square_root_operation.hpp
  phylanx/execution_tree/primitives/store_operation.hpp
  phylanx/execution_tree/primitives/string_output.hpp
  phylanx/execution_tree/primitives/sub_operation.hpp
  phylanx/execution_tree/primitives/transpose_operation.hpp
  phylanx/execution_tree/primitives/unary_minus_operation.hpp
  phylanx/execution_tree/primitives/unary_not_operation.hpp
  phylanx/execution_tree/primitives/while_operation.hpp
  src/execution_tree/primitives/if_conditional.cpp
  src/execution_tree/primitives/linearmatrix.cpp
  src/execution_tree/primitives/linspace.cpp
  src/execution_tree/primitives/mul_operation.cpp
  src/execution_tree/primitives/not_equal.cpp
  src/execution_tree/primitives/or_operation.cpp
  src/execution_tree/primitives/parallel_block_operation.cpp
  src/execution_tree/primitives/power_operation.cpp
  src/execution_tree/primitives/row_set.cpp
  src/execution_tree/primitives/set_operation.cpp
  src/execution_tree/primitives/slicing_operation.cpp
  src/execution_tree/primitives/square_root_operation.cpp
  src/execution_tree/primitives/store_operation.cpp
  src/execution_tree/primitives/string_output.cpp
  src/execution_tree/primitives/sub_operation.cpp
  src/execution_tree/primitives/transpose_operation.cpp
  src/execution_tree/primitives/unary_minus_operation.cpp
  src/execution_tree/primitives/unary_not_operation.cpp
  src/execution_tree/primitives/while_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#282 Print Newick formatted trees in the interpreter
  examples/interpreter/physl.cpp
Labels: category: examples, type: enhancement

#274 Make the existing CI configuration work with CircleCI 2.0
  .circleci/config.yml
  circle.yml
Labels: category: continuous integration

#285 Adding missing include Elements.h
  src/execution_tree/primitives/column_set.cpp
  src/execution_tree/primitives/row_set.cpp
  src/execution_tree/primitives/row_slicing.cpp
  src/execution_tree/primitives/set_operation.cpp
  src/execution_tree/primitives/slicing_operation.cpp
Labels: type: enhancement

#286 Fix docker images
  .circleci/config.yml
  tools/docker/Dockerfile
Labels: category: continuous integration

#292 Fix bad tag name in config.yml - Attempt 2
  .circleci/config.yml
Labels: category: continuous integration, type: defect

#294 scoped_unlock is deprecated use unlock_guard
  src/execution_tree/primitives/variable.cpp
Labels: submodule: backend, type: defect

#293 Adding support for lambda(args..., body)
  phylanx/execution_tree/primitives/define_function.hpp
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/define_function.cpp
  src/execution_tree/primitives/wrapped_function.cpp
  tests/unit/execution_tree/compiler.cpp
Labels: category: PhySL, type: enhancement

#290 Allow empty blocks in PhySL
  src/execution_tree/primitives/block_operation.cpp
  tests/regressions/execution_tree/CMakeLists.txt
  tests/regressions/execution_tree/allow_empty_blocks_278.cpp
Labels: category: PhySL, submodule: backend, type: enhancement

#299 Fix phylanx master failing with clang
  src/execution_tree/primitives/column_set.cpp
  src/execution_tree/primitives/column_slicing.cpp
  src/execution_tree/primitives/diag_operation.cpp
  src/execution_tree/primitives/row_set.cpp
  src/execution_tree/primitives/row_slicing.cpp
  src/execution_tree/primitives/set_operation.cpp
  src/execution_tree/primitives/slicing_operation.cpp
Labels: compiler: clang, type: enhancement

#280 Mixing of dimensions in hstack and vstack
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/hstack_operation.hpp
  phylanx/execution_tree/primitives/make_vector.hpp
  phylanx/execution_tree/primitives/vstack_operation.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/hstack_operation.cpp
  src/execution_tree/primitives/make_vector.cpp
  src/execution_tree/primitives/vstack_operation.cpp
  tests/regressions/execution_tree/list_of_variables_244.cpp
  tests/regressions/execution_tree/vector_of_variables_244.cpp
  tests/unit/execution_tree/primitives/hstack_operation.cpp
  tests/unit/execution_tree/primitives/vstack_operation.cpp
  tests/unit/python/execution_tree/primitives/make_vector.py
Labels: category: primitives, submodule: backend, type: enhancement

#300 Adding random number distributions
  cmake/Phylanx_Documentation.cmake
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/generic_function.hpp
  phylanx/execution_tree/primitives/generic_function_impl.hpp
  phylanx/execution_tree/primitives/linspace.hpp
  phylanx/execution_tree/primitives/random.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/random.cpp
  src/execution_tree/primitives/shuffle_operation.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/random_distributions.cpp
  tools/VS/primitive.natvis
Labels: category: primitives, type: enhancement

#296 Physl pretty print
  python/phylanx/ast/utils.py
Labels: category: PhySL, type: enhancement

#303 Added add_dimension primitive
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/add_dimension.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/add_dimension.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/add_dimension.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#301 Various fixes to primitive evaluation, etc.
  examples/algorithms/lra_csv_instrumented.cpp
  examples/interpreter/physl.cpp
  phylanx/execution_tree/compiler/primitive_name.hpp
  phylanx/execution_tree/primitives/primitive_component.hpp
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  phylanx/util/scoped_timer.hpp
  src/execution_tree/compiler/primitive_name.cpp
  src/execution_tree/primitives/primitive_component.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
Labels: category: primitives, type: enhancement

#302 Changing command line argument handling for Python extension module for Linux
  python/src/init_hpx.cpp
Labels: category: @Phylanx, type: enhancement

#298 Use prior phylanx defs
  python/phylanx/ast/transformation.py
  python/src/bindings/ast.cpp
  python/src/bindings/binding_helpers.hpp
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/for.py
Labels: category: PhySL, type: enhancement

#305 Enable building external Phylanx executables
  CMakeLists.txt
  cmake/Phylanx_AddDefinitions.cmake
  cmake/Phylanx_GeneratePackage.cmake
  cmake/Phylanx_HandleComponentDependencies.cmake
  cmake/Phylanx_HighFive.cmake
  cmake/Phylanx_SetupBlaze.cmake
  cmake/Phylanx_SetupTarget.cmake
  cmake/Phylanx_Utils.cmake
  cmake/templates/PhylanxConfig.cmake.in
  cmake/templates/PhylanxMacros.cmake.in
  cmake/templates/config_defines.hpp.in
  examples/external/CMakeLists.txt
  examples/external/phylanx_external.cpp
  phylanx/config.hpp
  python/src/CMakeLists.txt
  src/CMakeLists.txt
Labels: category: CMake, type: enhancement

#307 Adding map_operation() primitive
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/define_function.hpp
  phylanx/execution_tree/primitives/function_reference.hpp
  phylanx/execution_tree/primitives/map_operation.hpp
  phylanx/execution_tree/primitives/primitive_component.hpp
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  phylanx/execution_tree/primitives/wrapped_function.hpp
  phylanx/execution_tree/primitives/wrapped_variable.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/apply.cpp
  src/execution_tree/primitives/base_primitives.cpp
  src/execution_tree/primitives/define_function.cpp
  src/execution_tree/primitives/function_reference.cpp
  src/execution_tree/primitives/map_operation.cpp
  src/execution_tree/primitives/primitive_component.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
  src/execution_tree/primitives/wrapped_function.cpp
  src/execution_tree/primitives/wrapped_variable.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/map_operation.cpp
  tools/VS/primitive.natvis
Labels: category: PhySL, type: enhancement

#297 Mean primitive
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/mean_operation.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/mean_operation.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/mean_operation.cpp
Labels: category: primitives, type: enhancement

#312 Fixed add_dimension primitive indentation
  src/execution_tree/primitives/add_dimension.cpp
Labels: submodule: backend, type: enhancement

#317 Fixing external projects
  cmake/Phylanx_AddExecutable.cmake
  cmake/Phylanx_GeneratePackage.cmake
  cmake/Phylanx_HandleComponentDependencies.cmake
  cmake/Phylanx_SetupHPX.cmake
  cmake/Phylanx_SetupTarget.cmake
  cmake/templates/PhylanxConfig.cmake.in
  python/src/CMakeLists.txt
  tests/regressions/execution_tree/CMakeLists.txt
Labels: category: CMake, type: enhancement

#311 Sum primitive
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/sum_operation.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/sum_operation.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/sum_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#306 Add OpenSCoP as a backend.
  examples/InitMatrix.py
  examples/algorithms/kmeans.py
  examples/algorithms/lra_csv_phyfun.py
  examples/algorithms/lra_csv_phyfun_np.py
  examples/algorithms/pca.py
  examples/algorithms/tsne.py
  examples/oscop_matmul.py
  python/phylanx/ast/oscop.py
  python/phylanx/ast/templates.py
  python/phylanx/ast/transformation.py
  python/phylanx/ast/utils.py
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/for.py
Labels: category: @Phylanx, category: examples, compiler: python, submodule: frontend, type: optimization

#323 Addressing #320: improved generated error messages
  phylanx/execution_tree/primitives/base_primitive.hpp
  src/execution_tree/primitives/base_primitives.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
Labels: category: primitives, type: enhancement

#322 Range Infrastructure
  phylanx/include/ir.hpp
  phylanx/ir/ranges.hpp
  src/ir/ranges.cpp
  tests/unit/ir/CMakeLists.txt
  tests/unit/ir/range_iterator.cpp
Labels: submodule: backend, type: enhancement

#326 Address Clang's '&&' within '||' warnings.
  src/execution_tree/primitives/random.cpp
Labels: submodule: backend, type: enhancement

#332 Removing direct eval actions from primitives
  examples/algorithms/lra_csv_instrumented.cpp
  examples/interpreter/physl.cpp
  examples/profiling/primitive_instrumentation.cpp
  phylanx/execution_tree/compiler/actors.hpp
  phylanx/execution_tree/primitives/access_argument.hpp
  phylanx/execution_tree/primitives/apply.hpp
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/define_function.hpp
  phylanx/execution_tree/primitives/define_variable.hpp
  phylanx/execution_tree/primitives/enable_tracing.hpp
  phylanx/execution_tree/primitives/generic_function.hpp
  phylanx/execution_tree/primitives/primitive_component.hpp
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  phylanx/execution_tree/primitives/variable.hpp
  phylanx/execution_tree/primitives/wrapped_function.hpp
  phylanx/ir/node_data.hpp
  phylanx/util/performance_data.hpp
  src/execution_tree/compiler/primitive_name.cpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/apply.cpp
  src/execution_tree/primitives/base_primitives.cpp
  src/execution_tree/primitives/define_function.cpp
  src/execution_tree/primitives/define_variable.cpp
  src/execution_tree/primitives/enable_tracing.cpp
  src/execution_tree/primitives/primitive_component.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
  src/execution_tree/primitives/store_operation.cpp
  src/execution_tree/primitives/sum_operation.cpp
  src/execution_tree/primitives/variable.cpp
  src/execution_tree/primitives/wrapped_function.cpp
  src/execution_tree/primitives/wrapped_variable.cpp
  src/performance_counters/register_counters.cpp
  tests/unit/execution_tree/primitives/shuffle_operation.cpp
  tests/unit/performance_counters/primitive_counter.cpp
  tests/unit/util/performance_data.cpp
Labels: category: primitives, type: enhancement

#327 node_data<bool> --> node_data<uint8_t>
  phylanx/ast/generate_ast.hpp
  phylanx/execution_tree/primitives/all_operation.hpp
  phylanx/execution_tree/primitives/and_operation.hpp
  phylanx/execution_tree/primitives/any_operation.hpp
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/equal.hpp
  phylanx/execution_tree/primitives/greater.hpp
  phylanx/execution_tree/primitives/greater_equal.hpp
  phylanx/execution_tree/primitives/less.hpp
  phylanx/execution_tree/primitives/less_equal.hpp
  phylanx/execution_tree/primitives/not_equal.hpp
  phylanx/execution_tree/primitives/or_operation.hpp
  phylanx/execution_tree/primitives/unary_not_operation.hpp
  phylanx/ir/node_data.hpp
  phylanx/util/serialization/ast.hpp
  python/src/bindings/binding_helpers.hpp
  python/src/bindings/execution_tree.cpp
  python/src/bindings/type_casters.hpp
  python/src/bindings/util.cpp
  src/execution_tree/primitives/all_operation.cpp
  src/execution_tree/primitives/and_operation.cpp
  src/execution_tree/primitives/any_operation.cpp
  src/execution_tree/primitives/base_primitives.cpp
  src/execution_tree/primitives/equal.cpp
  src/execution_tree/primitives/greater.cpp
  src/execution_tree/primitives/greater_equal.cpp
  src/execution_tree/primitives/less.cpp
  src/execution_tree/primitives/less_equal.cpp
  src/execution_tree/primitives/not_equal.cpp
  src/execution_tree/primitives/or_operation.cpp
  src/execution_tree/primitives/random.cpp
  src/execution_tree/primitives/unary_not_operation.cpp
  src/ir/node_data.cpp
  src/util/serialization/ast.cpp
  tests/unit/execution_tree/primitives/all_operation.cpp
  tests/unit/execution_tree/primitives/and_operation.cpp
  tests/unit/execution_tree/primitives/any_operation.cpp
  tests/unit/execution_tree/primitives/equal_operation.cpp
  tests/unit/execution_tree/primitives/greater_equal_operation.cpp
  tests/unit/execution_tree/primitives/greater_operation.cpp
  tests/unit/execution_tree/primitives/less_equal_operation.cpp
  tests/unit/execution_tree/primitives/less_operation.cpp
  tests/unit/execution_tree/primitives/not_equal_operation.cpp
  tests/unit/execution_tree/primitives/or_operation.cpp
  tests/unit/execution_tree/primitives/random_distributions.cpp
  tests/unit/execution_tree/primitives/sum_operation.cpp
  tests/unit/execution_tree/primitives/unary_not_operation.cpp
  tests/unit/ir/node_data.cpp
  tests/unit/python/execution_tree/make_array.py
  tests/unit/python/execution_tree/primitives/make_vector.py
Labels: type: enhancement

#321 Gradient primitive
  cmake/Phylanx_Documentation.cmake
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/gradient_operation.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/gradient_operation.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/gradient_operation.cpp
Labels: category: primitives, type: enhancement
