Repository STEllAR-GROUP/phylanx, pull requests merged in 2018-04, with the labels that each got.

#338 After V1.1 HPX has changed its string formatting specifiers
  phylanx/config.hpp
  phylanx/config/format.hpp
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
Labels: type: compatibility issue

#336 Map NumPy member functions to Phylanx primitives.
  examples/algorithms/phylanx_lra_csv.py
  examples/algorithms/phylanx_lra_csv_np.py
  python/phylanx/ast/transformation.py
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/map_numpy.py
Labels: category: @Phylanx, type: enhancement

#342 Fix handling returns in Phylanx scopes.
  python/phylanx/ast/transformation.py
Labels: category: @Phylanx, compiler: python

#347 Update LRA example to use more NumPy functions.
  examples/algorithms/phylanx_lra_csv_np.py
Labels: category: examples

#341 Fixing the numbers reported as copy/move-construction/assignment counts
  phylanx/ir/node_data.hpp
  src/ast/generate_ast.cpp
  src/ast/generate_transform_rules.cpp
  src/ir/node_data.cpp
Labels: type: enhancement

#343 Exposing generated AST as a member function of the @Phylanx decorator
  python/phylanx/ast/transformation.py
  python/src/bindings/ast.cpp
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/map_numpy.py
Labels: category: @Phylanx, type: enhancement

#339 Redirecting all std::cout output to Python's stdout
  python/src/bindings/ast.cpp
  python/src/bindings/binding_helpers.hpp
  python/src/bindings/ostream.hpp
  python/src/init_hpx.cpp
Labels: category: @Phylanx, compiler: msvc, type: compatibility issue, type: enhancement

#349 Updating the slicing API
  examples/algorithms/lra_csv.cpp
  examples/algorithms/lra_csv_instrumented.cpp
  phylanx/execution_tree/primitives/column_slicing.hpp
  phylanx/execution_tree/primitives/row_slicing.hpp
  phylanx/execution_tree/primitives/slicing_operation.hpp
  python/phylanx/ast/transformation.py
  src/execution_tree/primitives/column_slicing.cpp
  src/execution_tree/primitives/row_slicing.cpp
  src/execution_tree/primitives/slicing_operation.cpp
  tests/unit/execution_tree/primitives/column_slicing.cpp
  tests/unit/execution_tree/primitives/row_slicing.cpp
  tests/unit/execution_tree/primitives/slicing_operation.cpp
  tests/unit/python/execution_tree/map_numpy.py
Labels: category: @Phylanx, category: primitives, compiler: python, submodule: backend, type: breaking change, type: enhancement, type: feature request

#354 Remove unnecessary argument from add_dim
  src/execution_tree/primitives/add_dimension.cpp
Labels: category: primitives, submodule: backend

#346 Avoiding making extra copies in not_equal primitive
  phylanx/execution_tree/primitives/not_equal.hpp
  src/execution_tree/primitives/not_equal.cpp
  tests/unit/execution_tree/primitives/not_equal_operation.cpp
Labels: category: primitives, type: enhancement

#330 Adding more test to make sure operations do not change the original value of the operands- issue 245
  phylanx/execution_tree/primitives/and_operation.hpp
  phylanx/execution_tree/primitives/or_operation.hpp
  src/execution_tree/primitives/and_operation.cpp
  src/execution_tree/primitives/div_operation.cpp
  src/execution_tree/primitives/or_operation.cpp
  tests/regressions/execution_tree/assign_wrong_variable_245.cpp
Labels: category: primitives, category: tests, type: enhancement

#362 1) Fix indexing for slicing so that it uses make_list() and commas ar…
  python/phylanx/ast/transformation.py
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/map_numpy.py
Labels: category: @Phylanx, type: enhancement

#363 Fixing `shape(x, 0)` for x being one-dimensional
  phylanx/execution_tree/primitives/unary_minus_operation.hpp
  src/execution_tree/primitives/extract_shape.cpp
  src/execution_tree/primitives/unary_minus_operation.cpp
  tests/regressions/execution_tree/CMakeLists.txt
  tests/regressions/execution_tree/shape1d_357.cpp
Labels: category: primitives, type: enhancement

#355 Range primitive
  cmake/Phylanx_SetupCompilerFlags.cmake
  examples/interpreter/physl.cpp
  phylanx/execution_tree/compiler/compiler.hpp
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/range_operation.hpp
  phylanx/ir/ranges.hpp
  python/src/bindings/type_casters.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/and_operation.cpp
  src/execution_tree/primitives/apply.cpp
  src/execution_tree/primitives/argmax.cpp
  src/execution_tree/primitives/argmin.cpp
  src/execution_tree/primitives/base_primitive.cpp
  src/execution_tree/primitives/car_cdr_operation.cpp
  src/execution_tree/primitives/constant.cpp
  src/execution_tree/primitives/filter_operation.cpp
  src/execution_tree/primitives/fold_left_operation.cpp
  src/execution_tree/primitives/fold_right_operation.cpp
  src/execution_tree/primitives/gradient_operation.cpp
  src/execution_tree/primitives/greater.cpp
  src/execution_tree/primitives/greater_equal.cpp
  src/execution_tree/primitives/less.cpp
  src/execution_tree/primitives/less_equal.cpp
  src/execution_tree/primitives/map_operation.cpp
  src/execution_tree/primitives/mean_operation.cpp
  src/execution_tree/primitives/or_operation.cpp
  src/execution_tree/primitives/random.cpp
  src/execution_tree/primitives/range_operation.cpp
  src/ir/ranges.cpp
  tests/regressions/ast/list_matching_178.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/argmax.cpp
  tests/unit/execution_tree/primitives/argmin.cpp
  tests/unit/execution_tree/primitives/constant.cpp
  tests/unit/execution_tree/primitives/extract_shape.cpp
  tests/unit/execution_tree/primitives/filter_operation.cpp
  tests/unit/execution_tree/primitives/fold_left_operation.cpp
  tests/unit/execution_tree/primitives/fold_right_operation.cpp
  tests/unit/execution_tree/primitives/gradient_operation.cpp
  tests/unit/execution_tree/primitives/map_operation.cpp
  tests/unit/execution_tree/primitives/mean_operation.cpp
  tests/unit/execution_tree/primitives/range_operation.cpp
  tests/unit/ir/CMakeLists.txt
  tests/unit/ir/ranges.cpp
  tools/VS/primitive.natvis
  tools/VS/range.natvis
Labels: submodule: backend, type: enhancement

#366 Adding the option to generate an output of type node_data<double> to comparison primitives
  phylanx/plugins/booleans/equal.hpp
  phylanx/plugins/booleans/greater.hpp
  phylanx/plugins/booleans/greater_equal.hpp
  phylanx/plugins/booleans/less.hpp
  phylanx/plugins/booleans/less_equal.hpp
  src/plugins/booleans/equal.cpp
  src/plugins/booleans/greater.cpp
  src/plugins/booleans/greater_equal.cpp
  src/plugins/booleans/less.cpp
  src/plugins/booleans/less_equal.cpp
  src/plugins/booleans/not_equal.cpp
  tests/unit/plugins/booleans/equal_operation.cpp
  tests/unit/plugins/booleans/greater_equal_operation.cpp
  tests/unit/plugins/booleans/greater_operation.cpp
  tests/unit/plugins/booleans/less_equal_operation.cpp
  tests/unit/plugins/booleans/less_operation.cpp
  tests/unit/plugins/booleans/not_equal_operation.cpp
Labels: category: primitives, type: enhancement

#368 This version of the LRA example doesn't run with the new slicing prim…
  examples/algorithms/phylanx_lra_csv.py
Labels: category: algorithms, category: examples, type: enhancement

#367 Add AST load/dump support to PhySL interpreter
  examples/interpreter/physl.cpp
  phylanx/util/serialization/ast.hpp
  python/src/bindings/util.cpp
  src/util/serialization/ast.cpp
  tests/unit/ast/node.cpp
Labels: category: PhySL, submodule: backend, type: enhancement

#370 Disable HPX TCP parcelport when run inside the Python interpreter
  python/src/init_hpx.cpp
Labels: category: @Phylanx, type: enhancement

#379 Adding generic unary arithmetic function plugins
  phylanx/plugins/matrixops/exponential_operation.hpp
  phylanx/plugins/matrixops/generic_operation.hpp
  phylanx/plugins/matrixops/matrixops.hpp
  src/plugins/matrixops/exponential_operation.cpp
  src/plugins/matrixops/generic_operation.cpp
  src/plugins/matrixops/matrixops.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/exponential_operation.cpp
  tests/unit/plugins/matrixops/generic_operation.cpp
Labels: category: primitives, type: enhancement

#380 slice() now supports lists as well
  examples/algorithms/lra_csv_instrumented.cpp
  phylanx/plugins/matrixops/slicing_operation.hpp
  src/plugins/matrixops/slicing_operation.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/list_slicing_operation.cpp
Labels: category: primitives, type: enhancement

#383 Support escaped strings & chars represented in hex
  phylanx/ast/parser/expression.hpp
  phylanx/ast/parser/expression_def.hpp
  tests/unit/ast/generate_ast.cpp
Labels: category: PhySL, submodule: backend, type: enhancement
