Repository STEllAR-GROUP/phylanx, pull requests merged in 2018-05, with the labels that each got.

#388 Expose AST serialization utilities to Python.
  python/src/bindings/util.cpp
  tests/unit/python/CMakeLists.txt
  tests/unit/python/ast/node.py
  tests/unit/python/util/CMakeLists.txt
  tests/unit/python/util/serialization_ast.py
Labels: submodule: frontend, type: enhancement, type: feature request

#389 Transforming Python for loops to Phylanx map.
  python/phylanx/ast/transformation.py
  tests/unit/python/execution_tree/for.py
Labels: category: @Phylanx, category: PhySL, submodule: frontend, type: enhancement

#391 Fixes to build system, primitive plugins, installation
  cmake/Phylanx_AddExecutable.cmake
  cmake/Phylanx_AddPrimitivePlugin.cmake
  cmake/Phylanx_AddPseudoTarget.cmake
  cmake/Phylanx_SetLibName.cmake
  cmake/Phylanx_SetupTarget.cmake
  cmake/Phylanx_Utils.cmake
  phylanx/config/export_definitions.hpp
  src/CMakeLists.txt
  src/plugins/CMakeLists.txt
  src/plugins/arithmetics/CMakeLists.txt
  src/plugins/booleans/CMakeLists.txt
  src/plugins/controls/CMakeLists.txt
  src/plugins/fileio/CMakeLists.txt
  src/plugins/listops/CMakeLists.txt
  src/plugins/matrixops/CMakeLists.txt
  tests/unit/algorithm/CMakeLists.txt
  tests/unit/execution_tree/CMakeLists.txt
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tools/inspect/CMakeLists.txt
Labels: category: CMake, type: enhancement

#393 This updates the .clang-format configuration file to utilize newer features
  .clang-format
Labels: type: enhancement

#398 optimizing generic unary math primitive
  phylanx/plugins/matrixops/generic_operation.hpp
  src/plugins/matrixops/generic_operation.cpp
Labels: category: primitives, type: enhancement

#399 Use the base Docker image instead of building it
  .circleci/config.yml
  tests/regressions/python/CMakeLists.txt
  tests/unit/plugins/arithmetics/CMakeLists.txt
  tests/unit/plugins/booleans/CMakeLists.txt
  tests/unit/plugins/controls/CMakeLists.txt
  tests/unit/plugins/fileio/CMakeLists.txt
  tests/unit/plugins/listops/CMakeLists.txt
  tests/unit/plugins/matrixops/CMakeLists.txt
  tools/docker/.dockerignore
  tools/docker/base/Dockerfile
  tools/docker/circleci/Dockerfile
Labels: category: continuous integration

#400 Fix target Docker image name
  .circleci/config.yml
  tools/flake8/flake_to_junit.py
Labels: category: continuous integration

#394 Adding direct C++ implementation of trivial LRA algorithm as a primitive
  examples/algorithms/lra_csv_instrumented.cpp
  phylanx/include/plugins.hpp
  phylanx/plugins/algorithms/algorithms.hpp
  phylanx/plugins/algorithms/lra.hpp
  src/plugins/CMakeLists.txt
  src/plugins/algorithms/CMakeLists.txt
  src/plugins/algorithms/algorithms.cpp
  src/plugins/algorithms/lra.cpp
  src/plugins/arithmetics/CMakeLists.txt
  src/plugins/booleans/CMakeLists.txt
  src/plugins/controls/CMakeLists.txt
  src/plugins/fileio/CMakeLists.txt
  src/plugins/listops/CMakeLists.txt
  src/plugins/matrixops/CMakeLists.txt
Labels: category: algorithms, category: primitives

#396 Fixing build system for HPX_WITH_CUDA=On
  CMakeLists.txt
  cmake/Phylanx_AddPrimitivePlugin.cmake
  src/CMakeLists.txt
  src/plugins/fileio/CMakeLists.txt
  tools/inspect/CMakeLists.txt
Labels: category: CMake, type: enhancement

#417 Adding postskip flag to qi::phrase_parse
  src/ast/generate_ast.cpp
  src/ast/generate_transform_rules.cpp
  tests/regressions/ast/CMakeLists.txt
  tests/regressions/ast/trailing_comments_413.cpp
Labels: category: PhySL, type: enhancement

#416 Fix CircleCI mistakes and wrong primitive names
  .circleci/config.yml
  phylanx/plugins/matrixops/shuffle_operation.hpp
  phylanx/plugins/matrixops/sum_operation.hpp
  src/plugins/matrixops/shuffle_operation.cpp
  src/plugins/matrixops/sum_operation.cpp
  tools/inspect/inspect_to_junit.py
Labels: category: continuous integration, category: primitives, submodule: backend, type: enhancement

#419 Update README.md
  README.md
Labels: category: documentation, type: enhancement

#422 Fix 411
  .gitignore
  python/phylanx/ast/transformation.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/name_constants_411.py
Labels: category: @Phylanx, submodule: frontend, type: defect

#415 Broadcasting rules
  phylanx/plugins/arithmetics/add_operation.hpp
  phylanx/plugins/arithmetics/div_operation.hpp
  phylanx/plugins/arithmetics/mul_operation.hpp
  phylanx/plugins/arithmetics/sub_operation.hpp
  src/plugins/arithmetics/add_operation.cpp
  src/plugins/arithmetics/div_operation.cpp
  src/plugins/arithmetics/mul_operation.cpp
  src/plugins/arithmetics/sub_operation.cpp
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/broadcasting_rules_410.py
  tests/regressions/python/exception_swallowed_369.py
Labels: submodule: backend

#423 Ensure mul primitive operates on elements
  src/plugins/arithmetics/mul_operation.cpp
  tests/regressions/python/exception_swallowed_369.py
Labels: category: primitives, submodule: backend

#431 Make sure missing lra plugin is found
  src/plugins/algorithms/CMakeLists.txt
Labels: category: primitives, type: defect

#433 Allow returning nil from PhySL blocks
  src/plugins/controls/block_operation.cpp
  tests/regressions/execution_tree/CMakeLists.txt
  tests/regressions/execution_tree/allow_return_nil_432.cpp
Labels: submodule: backend

#434 Add support for Phylanx decorator without parentheses
  examples/algorithms/kmeans.py
  examples/algorithms/phylanx_als_csv.py
  examples/algorithms/phylanx_lra_csv.py
  examples/algorithms/phylanx_lra_csv_np.py
  examples/algorithms/tsne.py
  python/phylanx/ast/transformation.py
  python/phylanx/exceptions.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/no_parans_decorator_407.py
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/for.py
  tests/unit/python/execution_tree/map_numpy.py
  tests/unit/python/execution_tree/primitives/make_list.py
  tests/unit/python/execution_tree/primitives/make_vector.py
Labels: category: @Phylanx, submodule: frontend, type: enhancement

#405 Adding C++ implementation of ALS algorithm as a primitive
  examples/algorithms/als.cpp
  examples/algorithms/als_csv_instrumented.cpp
  phylanx/plugins/algorithms/algorithms.hpp
  phylanx/plugins/algorithms/als.hpp
  src/plugins/algorithms/algorithms.cpp
  src/plugins/algorithms/als.cpp
  src/plugins/algorithms/lra.cpp
Labels: category: PhySL, category: algorithms

#426 Map Python lists to make_list().
  python/phylanx/ast/transformation.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/create_list_409.py
  tests/unit/python/execution_tree/eval.py
Labels: category: @Phylanx, submodule: frontend

#450 Change mean primitive output to blaze vector
  phylanx/plugins/matrixops/argmax.hpp
  src/plugins/arithmetics/mul_operation.cpp
  src/plugins/matrixops/argmax.cpp
  src/plugins/matrixops/mean_operation.cpp
  tests/unit/plugins/matrixops/mean_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#460 Revert "Support Python indexing for assignment to matrices"
  python/phylanx/ast/transformation.py
  src/plugins/matrixops/set_operation.cpp
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/set_operation.py
Labels: submodule: backend

#448 Add support for lambda functions in Python.
  python/phylanx/ast/transformation.py
  tests/unit/python/ast/CMakeLists.txt
  tests/unit/python/execution_tree/for.py
  tests/unit/python/execution_tree/primitives/CMakeLists.txt
  tests/unit/python/execution_tree/primitives/lambda.py
Labels: category: @Phylanx, submodule: frontend, type: feature request

#456 Added assert primitive
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/assert_condition.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/assert_condition.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/assert_condition.cpp
Labels: category: PhySL, submodule: backend, type: enhancement

#454 Use the correct variable name.
  python/phylanx/ast/transformation.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/passing_compiler_state_453.py
Labels: category: @Phylanx, type: enhancement

#449 Enable use of lists as iter-space of for loops.
  python/phylanx/ast/transformation.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/list_iter_space_429.py
Labels: category: @Phylanx, submodule: frontend

#464 Allowing for a comment on the last line not to end in a newline
  phylanx/ast/parser/skipper.hpp
  tests/regressions/ast/trailing_comments_413.cpp
Labels: category: PhySL, type: enhancement

#452 Fixed random() primitive documentation
  phylanx/plugins/matrixops/random.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/plugins/matrixops/random.cpp
  tests/unit/plugins/matrixops/random_distributions.cpp
Labels: category: documentation, category: primitives, type: enhancement

#468 Check if all patterns have been iterated over
  src/execution_tree/compiler/compiler.cpp
Labels: submodule: backend

#462 Added Python and PhySL implementation of K-Means
  examples/algorithms/kmeans.physl
  examples/algorithms/kmeans.py
Labels: category: algorithms, category: examples

#459 changing int64_t to node_data<int64_t>
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/ir/node_data.hpp
  phylanx/plugins/controls/range_operation.hpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/base_primitive.cpp
  src/ir/node_data.cpp
  src/plugins/algorithms/als.cpp
  src/plugins/algorithms/lra.cpp
  src/plugins/booleans/and_operation.cpp
  src/plugins/booleans/equal.cpp
  src/plugins/booleans/greater.cpp
  src/plugins/booleans/greater_equal.cpp
  src/plugins/booleans/less.cpp
  src/plugins/booleans/less_equal.cpp
  src/plugins/booleans/not_equal.cpp
  src/plugins/booleans/or_operation.cpp
  src/plugins/controls/range_operation.cpp
  src/plugins/matrixops/argmax.cpp
  src/plugins/matrixops/argmin.cpp
  src/plugins/matrixops/constant.cpp
  src/plugins/matrixops/extract_shape.cpp
  src/plugins/matrixops/linearmatrix.cpp
  src/plugins/matrixops/random.cpp
  src/plugins/matrixops/slicing_operation.cpp
  src/plugins/matrixops/sum_operation.cpp
  tests/regressions/execution_tree/shape1d_357.cpp
  tests/unit/ir/node_data.cpp
  tests/unit/ir/ranges.cpp
  tests/unit/plugins/booleans/less_operation.cpp
  tests/unit/plugins/controls/fold_left_operation.cpp
  tests/unit/plugins/controls/for_operation.cpp
  tests/unit/plugins/controls/if_conditional.cpp
  tests/unit/plugins/controls/while_operation.cpp
  tests/unit/plugins/matrixops/constant.cpp
  tests/unit/plugins/matrixops/extract_shape.cpp
  tests/unit/plugins/matrixops/linearmatrix.cpp
  tests/unit/plugins/matrixops/linspace.cpp
  tests/unit/plugins/matrixops/random_distributions.cpp
  tests/unit/plugins/matrixops/sum_operation.cpp
Labels: category: data, type: enhancement

#437 Make sure map() and parallel_map() accept only lists (ranges) as their arguments.
  phylanx/execution_tree/primitives/base_primitive.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/plugins/controls/map_operation.cpp
  src/plugins/controls/parallel_map_operation.cpp
  tests/unit/plugins/controls/map_operation.cpp
  tests/unit/plugins/controls/parallel_map_operation.cpp
Labels: category: primitives, type: enhancement

#461 parallel range, or 'prange' support
  python/phylanx/ast/transformation.py
  python/phylanx/util/prange.py
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/prange_test.py
Labels: category: @Phylanx, compiler: python, type: enhancement

#471 Fix assert primitive test
  tests/unit/execution_tree/primitives/assert_condition.cpp
  tests/unit/python/execution_tree/eval.py
Labels: category: primitives, submodule: backend

#470 Introduce len_operation
  phylanx/plugins/listops/len_operation.hpp
  phylanx/plugins/listops/listops.hpp
  src/plugins/listops/len_operation.cpp
  src/plugins/listops/listops.cpp
  tests/unit/plugins/listops/CMakeLists.txt
  tests/unit/plugins/listops/len_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#467 Rewrite set_operation.py
  python/phylanx/ast/transformation.py
  src/plugins/matrixops/set_operation.cpp
  tests/regressions/python/create_list_409.py
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/set_operation.py
Labels: category: @Phylanx, category: primitives, type: enhancement

#475 Check that functions, e.g. "shape" are in really in numpy, however it's imported.
  python/phylanx/ast/transformation.py
  tests/unit/python/execution_tree/set_operation.py
Labels: category: @Phylanx, type: enhancement

#476 Allow for iteration over arrays using map
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/plugins/controls/map_operation.hpp
  python/phylanx/ast/transformation.py
  src/execution_tree/primitives/base_primitive.cpp
  src/plugins/algorithms/lra.cpp
  src/plugins/booleans/equal.cpp
  src/plugins/booleans/greater.cpp
  src/plugins/booleans/greater_equal.cpp
  src/plugins/booleans/less.cpp
  src/plugins/booleans/less_equal.cpp
  src/plugins/booleans/not_equal.cpp
  src/plugins/controls/for_operation.cpp
  src/plugins/controls/map_operation.cpp
  src/plugins/controls/while_operation.cpp
  src/plugins/matrixops/sum_operation.cpp
  tests/regressions/execution_tree/assign_wrong_variable_245.cpp
  tests/unit/execution_tree/generate_tree.cpp
  tests/unit/execution_tree/primitives/assert_condition.cpp
  tests/unit/plugins/booleans/all_operation.cpp
  tests/unit/plugins/booleans/any_operation.cpp
  tests/unit/plugins/controls/for_operation.cpp
  tests/unit/plugins/controls/while_operation.cpp
  tests/unit/python/execution_tree/primitives/lambda.py
Labels: category: primitives, type: enhancement
