Repository STEllAR-GROUP/phylanx, pull requests merged in 2018-08, with the labels that each got.

#545 Fixing performance regression introduced recently
  phylanx/plugins/matrixops/dot_operation.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/plugins/matrixops/dot_operation.cpp
Labels: category: PhySL, category: primitives, type: enhancement, type: optimization

#555 Adding dictionaries
  phylanx/execution_tree/primitives/primitive_argument_type.hpp
  phylanx/ir/dictionary.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/plugins/booleans/and_operation.cpp
  src/plugins/booleans/greater.cpp
  src/plugins/booleans/greater_equal.cpp
  src/plugins/booleans/less.cpp
  src/plugins/booleans/less_equal.cpp
  src/plugins/booleans/or_operation.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/dictionary.cpp
Labels: category: primitives

#562 Added core primitive unit tests to CircleCI
  .circleci/config.yml
Labels: category: continuous integration

#560 Modify the patterns.cpp function so that it can print sqrt.
  src/execution_tree/patterns.cpp
Labels: category: documentation, type: enhancement

#558 Fixing over-jealous conditions testing validity of slicing parameters
  src/execution_tree/primitives/slice_node_data.cpp
  tests/regressions/execution_tree/CMakeLists.txt
  tests/regressions/execution_tree/slicing_reverse_step_550.cpp
Labels: category: primitives, type: enhancement

#571 Stop-gap measure fixing compilation using MSVC 19.15.26726
  phylanx/ir/dictionary.hpp
  phylanx/util/detail/variant.hpp
Labels: compiler: msvc, type: compatibility issue

#574 This fixes the store operation tests
  tests/unit/execution_tree/primitives/store_operation.cpp
Labels: category: primitives, type: enhancement

#559 Adding count_nonzero primitive
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/node_data_helpers.hpp
  phylanx/execution_tree/primitives/python_gil_hook.hpp
  phylanx/plugins/matrixops/count_nonzero_operation.hpp
  phylanx/plugins/matrixops/matrixops.hpp
  src/execution_tree/primitives/node_data_helpers.cpp
  src/plugins/matrixops/count_nonzero_operation.cpp
  src/plugins/matrixops/matrixops.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/count_nonzero.cpp
Labels: category: primitives, type: enhancement

#572 Fixes #508: Validate named arguments.
  .gitignore
  python/phylanx/ast/physl.py
  python/phylanx/ast/transducer.py
  tests/regressions/python/508_unknown_named_argument.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, type: defect, type: enhancement

#578 Pass filename to the compiler.
  python/phylanx/ast/physl.py
  python/src/bindings/binding_helpers.hpp
  tests/regressions/python/exception_swallowed_369.py
  tests/regressions/python/passing_compiler_state_453.py
Labels: category: @Phylanx, submodule: frontend, type: enhancement
