Repository STEllAR-GROUP/phylanx, pull requests merged in 2018-02, with the labels that each got.

#212 Improving interpreter
  examples/interpreter/factorial.physl
  examples/interpreter/fibonacci.physl
  examples/interpreter/interpreter.cpp
  examples/interpreter/lra.physl
  phylanx/ast/detail/is_placeholder.hpp
  phylanx/ast/detail/is_placeholder_ellipses.hpp
  phylanx/ast/generate_ast.hpp
  phylanx/ast/generate_transform_rules.hpp
  phylanx/execution_tree/compile.hpp
  phylanx/execution_tree/compiler/actors.hpp
  phylanx/execution_tree/compiler/compiler.hpp
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/apply.hpp
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/include/ast.hpp
  src/ast/generate_ast.cpp
  src/ast/generate_transform_rules.cpp
  src/execution_tree/compile.cpp
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/add_operation.cpp
  src/execution_tree/primitives/and_operation.cpp
  src/execution_tree/primitives/apply.cpp
  src/execution_tree/primitives/base_primitives.cpp
  src/execution_tree/primitives/div_operation.cpp
  src/execution_tree/primitives/equal.cpp
  src/execution_tree/primitives/greater.cpp
  src/execution_tree/primitives/greater_equal.cpp
  src/execution_tree/primitives/less.cpp
  src/execution_tree/primitives/less_equal.cpp
  src/execution_tree/primitives/mul_operation.cpp
  src/execution_tree/primitives/not_equal.cpp
  src/execution_tree/primitives/or_operation.cpp
  src/execution_tree/primitives/sub_operation.cpp
  src/execution_tree/primitives/unary_minus_operation.cpp
  src/execution_tree/primitives/unary_not_operation.cpp
  tests/unit/execution_tree/compiler.cpp
  tests/unit/execution_tree/generate_tree.cpp
  tests/unit/performance_counters/primitive_counter.cpp
  tests/unit/util/performance_data.cpp
Labels: category: PhySL, submodule: backend, submodule: frontend, type: enhancement

#201 Linear Matrix Primitive
  cmake/Phylanx_Documentation.cmake
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/linearmatrix.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/linearmatrix.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/linearmatrix.cpp
Labels: category: primitives, type: feature request

#209 Handle missing case in literal_value/is_literal_value
  src/ast/detail/is_literal_value.cpp
Labels: submodule: backend, type: enhancement

#210 Slim down the number of exported symbols
  phylanx/execution_tree/primitives/access_argument.hpp
  phylanx/execution_tree/primitives/add_operation.hpp
  phylanx/execution_tree/primitives/and_operation.hpp
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/block_operation.hpp
  phylanx/execution_tree/primitives/column_slicing.hpp
  phylanx/execution_tree/primitives/console_output.hpp
  phylanx/execution_tree/primitives/constant.hpp
  phylanx/execution_tree/primitives/cross_operation.hpp
  phylanx/execution_tree/primitives/debug_output.hpp
  phylanx/execution_tree/primitives/define_function.hpp
  phylanx/execution_tree/primitives/define_variable.hpp
  phylanx/execution_tree/primitives/determinant.hpp
  phylanx/execution_tree/primitives/diag_operation.hpp
  phylanx/execution_tree/primitives/div_operation.hpp
  phylanx/execution_tree/primitives/dot_operation.hpp
  phylanx/execution_tree/primitives/enable_tracing.hpp
  phylanx/execution_tree/primitives/equal.hpp
  phylanx/execution_tree/primitives/exponential_operation.hpp
  phylanx/execution_tree/primitives/extract_shape.hpp
  phylanx/execution_tree/primitives/file_read.hpp
  phylanx/execution_tree/primitives/file_read_csv.hpp
  phylanx/execution_tree/primitives/file_write.hpp
  phylanx/execution_tree/primitives/file_write_csv.hpp
  phylanx/execution_tree/primitives/for_operation.hpp
  phylanx/execution_tree/primitives/function_reference.hpp
  phylanx/execution_tree/primitives/greater.hpp
  phylanx/execution_tree/primitives/greater_equal.hpp
  phylanx/execution_tree/primitives/hstack_operation.hpp
  phylanx/execution_tree/primitives/identity.hpp
  phylanx/execution_tree/primitives/if_conditional.hpp
  phylanx/execution_tree/primitives/inverse_operation.hpp
  phylanx/execution_tree/primitives/less.hpp
  phylanx/execution_tree/primitives/less_equal.hpp
  phylanx/execution_tree/primitives/linspace.hpp
  phylanx/execution_tree/primitives/mul_operation.hpp
  phylanx/execution_tree/primitives/not_equal.hpp
  phylanx/execution_tree/primitives/or_operation.hpp
  phylanx/execution_tree/primitives/parallel_block_operation.hpp
  phylanx/execution_tree/primitives/power_operation.hpp
  phylanx/execution_tree/primitives/random.hpp
  phylanx/execution_tree/primitives/row_slicing.hpp
  phylanx/execution_tree/primitives/slicing_operation.hpp
  phylanx/execution_tree/primitives/square_root_operation.hpp
  phylanx/execution_tree/primitives/store_operation.hpp
  phylanx/execution_tree/primitives/string_output.hpp
  phylanx/execution_tree/primitives/sub_operation.hpp
  phylanx/execution_tree/primitives/transpose_operation.hpp
  phylanx/execution_tree/primitives/unary_minus_operation.hpp
  phylanx/execution_tree/primitives/unary_not_operation.hpp
  phylanx/execution_tree/primitives/variable.hpp
  phylanx/execution_tree/primitives/vstack_operation.hpp
  phylanx/execution_tree/primitives/while_operation.hpp
  phylanx/execution_tree/primitives/wrapped_function.hpp
  phylanx/execution_tree/primitives/wrapped_variable.hpp
  src/execution_tree/primitives/base_primitives.cpp
Labels: type: enhancement

#214 Renaming interpreter to physl
  examples/algorithms/lra_csv_instrumented.cpp
  examples/interpreter/CMakeLists.txt
  examples/interpreter/factorial.physl
  examples/interpreter/fibonacci.physl
  examples/interpreter/lra.physl
  examples/interpreter/physl.cpp
  examples/profiling/primitive_instrumentation.cpp
  phylanx/ast/parser/expression_def.hpp
  phylanx/ast/parser/skipper.hpp
  phylanx/execution_tree/compile.hpp
  phylanx/execution_tree/compiler/compiler.hpp
  phylanx/execution_tree/primitives/apply.hpp
  python/phylanx/util/__init__.py
  src/ast/node.cpp
  src/execution_tree/compile.cpp
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/compiler/primitive_name.cpp
  src/execution_tree/primitives/access_argument.cpp
  src/performance_counters/register_counters.cpp
  tests/unit/ast/generate_ast.cpp
  tests/unit/execution_tree/expression_topology.cpp
  tests/unit/execution_tree/instrumentation.cpp
  tests/unit/execution_tree/parse_primitive_name.cpp
  tests/unit/performance_counters/primitive_counter.cpp
  tests/unit/python/execution_tree/eval.py
  tests/unit/util/performance_data.cpp
Labels: category: PhySL, type: compatibility issue, type: enhancement

#218 Making sure proper sequence numbers for primitives are generated
  examples/algorithms/lra_csv_instrumented.cpp
  phylanx/execution_tree/compiler/compiler.hpp
  phylanx/execution_tree/compiler/primitive_name.hpp
  src/execution_tree/compiler/compiler.cpp
  src/performance_counters/register_counters.cpp
  src/util/performance_data.cpp
  tests/unit/util/performance_data.cpp
Labels: category: PhySL, category: primitives, type: enhancement

#222 Refactor retrieve_counter_data
  src/util/performance_data.cpp
Labels: submodule: backend, type: enhancement

#223 Add HDF5
  CMakeLists.txt
  cmake/Phylanx_AppendProperty.cmake
  cmake/Phylanx_HighFive.cmake
  cmake/Phylanx_Utils.cmake
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/file_read_hdf5.hpp
  phylanx/execution_tree/primitives/file_write_hdf5.hpp
  phylanx/util/detail/blaze-highfive.hpp
  src/CMakeLists.txt
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/file_read_hdf5.cpp
  src/execution_tree/primitives/file_write_hdf5.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/file_hdf5_primitives.cpp
Labels: category: primitives, type: enhancement

#217 Fixing Slicing
  cmake/Phylanx_Documentation.cmake
  examples/algorithms/lra_csv.cpp
  examples/algorithms/lra_csv_instrumented.cpp
  phylanx/execution_tree/primitives/column_slicing.hpp
  phylanx/execution_tree/primitives/row_slicing.hpp
  phylanx/execution_tree/primitives/slicing_operation.hpp
  src/execution_tree/primitives/column_slicing.cpp
  src/execution_tree/primitives/row_slicing.cpp
  src/execution_tree/primitives/slicing_operation.cpp
  tests/unit/execution_tree/primitives/column_slicing.cpp
  tests/unit/execution_tree/primitives/row_slicing.cpp
  tests/unit/execution_tree/primitives/slicing_operation.cpp
Labels: category: primitives, type: enhancement

#228 For loops
  python/phylanx/util/__init__.py
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/for.py
Labels: category: PhySL, submodule: frontend, type: enhancement

#230 Fixing the warnings for double test cases
  tests/unit/execution_tree/primitives/and_operation.cpp
  tests/unit/execution_tree/primitives/or_operation.cpp
Labels: submodule: backend, type: enhancement

#231 Improve error message generated for type mismatches
  src/execution_tree/primitives/base_primitives.cpp
  src/ir/node_data.cpp
Labels: category: primitives, type: enhancement

#234 Updating transpose and extract_shape primitives
  src/execution_tree/primitives/extract_shape.cpp
  src/execution_tree/primitives/transpose_operation.cpp
  tests/unit/execution_tree/primitives/extract_shape.cpp
  tests/unit/execution_tree/primitives/transpose_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#236 Updating mul_operation primitive
  src/execution_tree/primitives/mul_operation.cpp
  tests/unit/execution_tree/primitives/mul_operation.cpp
Labels: category: primitives, submodule: backend, type: enhancement

#239 Disable reporting diagnostics during forced shutdown.
  python/src/init_hpx.cpp
Labels: type: enhancement

#237 Suppressing cmake warning issued by cmake >= 3.11
  CMakeLists.txt
  cmake/Phylanx_SetCMakePolicy.cmake
  cmake/Phylanx_SetupTarget.cmake
  cmake/Phylanx_Utils.cmake
Labels: category: CMake, type: compatibility issue

#246 added header file to colslice primitive
  src/execution_tree/primitives/column_slicing.cpp
Labels: type: enhancement

#240 Hdf5 linux
  circle.yml
  cmake/Phylanx_HighFive.cmake
  tools/docker/Dockerfile
Labels: category: CMake, category: continuous integration, type: enhancement

#242 Added Python code style checking
  circle.yml
  cmake/templates/__init__.py.in
  cmake/templates/phylanxrun.py.in
  cmake/templates/setup.py.in
  examples/InitMatrix.py
  examples/algorithms/als.py
  examples/algorithms/dotprod.py
  examples/algorithms/gauss_algo.py
  examples/algorithms/kmeans.py
  examples/algorithms/lra_csv_phyfun.py
  examples/algorithms/lra_csv_phyfun_np.py
  examples/algorithms/lu_algo.py
  examples/algorithms/pca.py
  examples/algorithms/qr_algo.py
  examples/algorithms/tsne.py
  python/Phylanx.py
  python/Phylanx2.py
  python/phylanx/util/__init__.py
  tests/unit/python/ast/generate_ast.py
  tests/unit/python/ast/node.py
  tests/unit/python/ast/python_builds_ast.py
  tests/unit/python/ast/traverse_ast.py
  tests/unit/python/dotprod.py
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/for.py
  tests/unit/python/execution_tree/make_array.py
  tests/unit/python/gauss_algo.py
  tests/unit/python/lu_algo.py
  tests/unit/python/qr_algo.py
  tools/docker/Dockerfile
  tools/flake8/config.ini
Labels: category: continuous integration, type: enhancement

#235 Update Phylanx Python Package
  cmake/templates/phylanxrun.py.in
  examples/InitMatrix.py
  examples/algorithms/dotprod.py
  examples/algorithms/gauss_algo.py
  examples/algorithms/kmeans.py
  examples/algorithms/lra_csv_phyfun.py
  examples/algorithms/lra_csv_phyfun_np.py
  examples/algorithms/lu_algo.py
  examples/algorithms/pca.py
  examples/algorithms/qr_algo.py
  examples/algorithms/tsne.py
  python/Phylanx.py
  python/Phylanx2.py
  python/phylanx/ast/__init__.py
  python/phylanx/ast/transformation.py
  python/phylanx/ast/utils.py
  python/phylanx/util/__init__.py
  tests/unit/python/ast/generate_ast.py
  tests/unit/python/ast/node.py
  tests/unit/python/ast/python_builds_ast.py
  tests/unit/python/ast/traverse_ast.py
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/for.py
  tests/unit/python/execution_tree/make_array.py
  tests/unit/python/version.py
Labels: submodule: frontend, type: enhancement

#241 Set operation
  cmake/Phylanx_Documentation.cmake
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/column_set.hpp
  phylanx/execution_tree/primitives/row_set.hpp
  phylanx/execution_tree/primitives/set_operation.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/column_set.cpp
  src/execution_tree/primitives/row_set.cpp
  src/execution_tree/primitives/set_operation.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/column_set.cpp
  tests/unit/execution_tree/primitives/row_set.cpp
  tests/unit/execution_tree/primitives/set_operation.cpp
Labels: category: primitives, type: enhancement

#248 Make sure arithmetic operations don't overwrite reference arguments
  src/execution_tree/primitives/add_operation.cpp
  src/execution_tree/primitives/div_operation.cpp
  src/execution_tree/primitives/mul_operation.cpp
  src/execution_tree/primitives/sub_operation.cpp
  tests/regressions/execution_tree/CMakeLists.txt
  tests/regressions/execution_tree/assign_wrong_variable_245.cpp
Labels: category: PhySL, category: primitives, type: enhancement, type: optimization

#251 Adding make_list and make_vector primitives
  CMakeLists.txt
  cmake/Phylanx_HighFive.cmake
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/make_list.hpp
  phylanx/execution_tree/primitives/make_vector.hpp
  phylanx/execution_tree/primitives/primitive_component.hpp
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  phylanx/include/util.hpp
  phylanx/ir/node_data.hpp
  phylanx/util/repr_manip.hpp
  phylanx/util/serialization/ast.hpp
  python/phylanx/ir/__init__.py
  python/src/phylanx.cpp
  src/CMakeLists.txt
  src/ast/node.cpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/base_primitives.cpp
  src/execution_tree/primitives/hstack_operation.cpp
  src/execution_tree/primitives/make_list.cpp
  src/execution_tree/primitives/make_vector.cpp
  src/execution_tree/primitives/primitive_component.cpp
  src/execution_tree/primitives/string_output.cpp
  src/execution_tree/primitives/vstack_operation.cpp
  src/ir/node_data.cpp
  src/util/repr_manip.cpp
  src/util/serialization/ast.cpp
  tests/regressions/execution_tree/CMakeLists.txt
  tests/regressions/execution_tree/define_loses_values_177.cpp
  tests/regressions/execution_tree/list_of_variables_244.cpp
  tests/regressions/execution_tree/vector_of_variables_244.cpp
  tests/unit/ast/to_string.cpp
  tests/unit/python/ast/python_builds_ast.py
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/primitives/CMakeLists.txt
  tests/unit/python/execution_tree/primitives/make_list.py
  tests/unit/python/execution_tree/primitives/make_vector.py
Labels: category: PhySL, category: primitives, type: enhancement

#254 Fixing PhySL modifying the untouched variables for the remaining cases
  src/execution_tree/primitives/div_operation.cpp
  src/execution_tree/primitives/equal.cpp
  src/execution_tree/primitives/greater.cpp
  src/execution_tree/primitives/greater_equal.cpp
  src/execution_tree/primitives/less.cpp
  src/execution_tree/primitives/less_equal.cpp
  src/execution_tree/primitives/mul_operation.cpp
  src/execution_tree/primitives/not_equal.cpp
  src/execution_tree/primitives/sub_operation.cpp
Labels: category: primitives, type: enhancement

#255 Fix decorator of make_vector.py and make_list.py
  examples/InitMatrix.py
  phylanx/ir/node_data.hpp
  python/phylanx/ast/transformation.py
  python/phylanx/ast/utils.py
  python/phylanx/ir/__init__.py
  python/src/CMakeLists.txt
  python/src/phylanx.cpp
  src/ir/node_data.cpp
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/eval.py
  tests/unit/python/execution_tree/for.py
  tests/unit/python/execution_tree/make_array.py
  tests/unit/python/execution_tree/primitives/make_list.py
  tests/unit/python/execution_tree/primitives/make_vector.py
Labels: category: @Phylanx, type: defect

#253 Argmin & Argmax Primitives
  phylanx/execution_tree/primitives.hpp
  phylanx/execution_tree/primitives/argmax.hpp
  phylanx/execution_tree/primitives/argmin.hpp
  phylanx/util/matrix_iterators.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/argmax.cpp
  src/execution_tree/primitives/argmin.cpp
  tests/unit/execution_tree/primitives/CMakeLists.txt
  tests/unit/execution_tree/primitives/argmax.cpp
  tests/unit/execution_tree/primitives/argmin.cpp
  tests/unit/util/CMakeLists.txt
  tests/unit/util/matrix_iterators.cpp
Labels: category: primitives, submodule: backend, type: enhancement
