Repository STEllAR-GROUP/phylanx, pull requests merged in 2018-09, with the labels that each got.

#569 adding dictionary case for base_primitive.cpp
  src/execution_tree/primitives/base_primitive.cpp
  tests/unit/execution_tree/primitives/dictionary.cpp
Labels: category: data, category: primitives, type: enhancement

#586 Casting the return from std::distance
  src/plugins/matrixops/argmax.cpp
  src/plugins/matrixops/argmin.cpp
Labels: category: continuous integration, compiler: clang, platform: Mac OSX

#580 Propagate type of node_data for comparison operations
  phylanx/plugins/booleans/and_operation.hpp
  phylanx/plugins/booleans/comparison.hpp
  phylanx/plugins/booleans/comparison_impl.hpp
  phylanx/plugins/booleans/equal.hpp
  phylanx/plugins/booleans/greater.hpp
  phylanx/plugins/booleans/greater_equal.hpp
  phylanx/plugins/booleans/less.hpp
  phylanx/plugins/booleans/less_equal.hpp
  phylanx/plugins/booleans/logical_operation.hpp
  phylanx/plugins/booleans/logical_operation_impl.hpp
  phylanx/plugins/booleans/not_equal.hpp
  phylanx/plugins/booleans/or_operation.hpp
  phylanx/util/slicing_helpers.hpp
  src/execution_tree/primitives/slice_range.cpp
  src/plugins/booleans/and_operation.cpp
  src/plugins/booleans/equal.cpp
  src/plugins/booleans/greater.cpp
  src/plugins/booleans/greater_equal.cpp
  src/plugins/booleans/less.cpp
  src/plugins/booleans/less_equal.cpp
  src/plugins/booleans/not_equal.cpp
  src/plugins/booleans/or_operation.cpp
  src/util/slicing_helpers.cpp
Labels: category: primitives, type: compatibility issue

#579 Find MPI package before generating phylanxrun.py
  CMakeLists.txt
Labels: category: CMake, category: continuous integration, type: defect

#588 making direct action parameters runtime comfigurable
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  src/execution_tree/primitives/primitive_component_base.cpp
Labels: category: primitives, type: enhancement

#592 Fixing simple_loop test
  tests/performance/simple_loop.cpp
Labels: category: tests, type: enhancement

#591 updating existing ALS algorithm codes
  examples/algorithms/als/als.cpp
  examples/algorithms/als/als.physl
  examples/algorithms/als/als.py
  examples/algorithms/als/als_csv.cpp
  examples/algorithms/als/als_csv_instrumented.cpp
  examples/algorithms/als/phylanx_als_csv.py
Labels: category: algorithms, category: primitives, type: enhancement

#598 Make the help string Hartmut used in his last tutorial work.
  src/plugins/matrixops/row_set.cpp
  tools/check_help/check_help.py
Labels: category: documentation, type: compatibility issue, type: enhancement

#597 Removing the set primitive
  examples/algorithms/als/als.cpp
  examples/algorithms/als/als_csv.cpp
  examples/algorithms/als/als_csv_instrumented.cpp
  phylanx/plugins/matrixops/column_set.hpp
  phylanx/plugins/matrixops/matrixops.hpp
  phylanx/plugins/matrixops/row_set.hpp
  phylanx/plugins/matrixops/set_operation.hpp
  src/plugins/matrixops/column_set.cpp
  src/plugins/matrixops/matrixops.cpp
  src/plugins/matrixops/row_set.cpp
  src/plugins/matrixops/set_operation.cpp
  tests/unit/algorithm/simple_als.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/column_set.cpp
  tests/unit/plugins/matrixops/row_set.cpp
  tests/unit/plugins/matrixops/set_operation.cpp
Labels: category: primitives, submodule: backend, type: breaking change

#599 Updating ALS algorithm
  examples/algorithms/als/als.cpp
  examples/algorithms/als/als.physl
  examples/algorithms/als/als.py
  examples/algorithms/als/als_csv.cpp
  examples/algorithms/als/als_csv_instrumented.cpp
  examples/algorithms/als/phylanx_als_csv.py
Labels: category: algorithms, type: enhancement

#600 Fmap primitive
  examples/algorithms/kmeans/kmeans.phylanx.py
  examples/algorithms/kmeans/kmeans.physl
  phylanx/plugins/controls/controls.hpp
  phylanx/plugins/controls/fmap_operation.hpp
  src/plugins/controls/controls.cpp
  src/plugins/controls/fmap_operation.cpp
  tests/regressions/execution_tree/list_iter_space_429.cpp
  tests/unit/plugins/controls/CMakeLists.txt
  tests/unit/plugins/controls/fmap_operation.cpp
  tests/unit/plugins/controls/range_operation.cpp
  tests/unit/python/execution_tree/primitives/lambda.py
Labels: category: primitives, type: compatibility issue, type: enhancement

#601 Disable direct actions on POWER8/clang
  src/execution_tree/primitives/primitive_component_base.cpp
Labels: category: continuous integration, compiler: clang, platform: POWER8
