Repository STEllAR-GROUP/phylanx, pull requests merged in 2019-12, with the labels that each got.

#1070 With this test, binary_crossentropy passes when compared to the newest Keras
  src/plugins/keras_support/binary_crossentropy_operation.cpp
  tests/unit/python/execution_tree/binary_crossentropy.py
Labels: platform: KERAS, type: compatibility issue

#1084 Fixing issue #1080.
  tests/unit/plugins/solvers/linear_solver.cpp
Labels: category: CMake, type: compatibility issue, type: enhancement

#1082 Allow users to write the result to a text file
  examples/interpreter/physl.cpp
Labels: category: PhySL, category: examples, type: enhancement

#1086 Add the NO_EXTRAS flag for the pybind11_add_module call
  python/src/CMakeLists.txt
Labels: category: @Phylanx, compiler: gcc, platform: Mac OSX, type: compatibility issue
