Repository STEllAR-GROUP/phylanx, pull requests merged in 2019-04, with the labels that each got.

#917 Allow to pass decorated Phylanx functions as arguments to another Phylanx function
  examples/algorithms/lra/lra_csv_instrumented.cpp
  phylanx/execution_tree/compile.hpp
  phylanx/execution_tree/compiler/actors.hpp
  python/phylanx/ast/physl.py
  python/phylanx/ast/transducer.py
  python/src/bindings/ast.cpp
  python/src/bindings/binding_helpers.cpp
  python/src/bindings/binding_helpers.hpp
  python/src/bindings/execution_tree.cpp
  src/execution_tree/compile.cpp
  src/execution_tree/compiler_component.cpp
  src/plugins/controls/fold_left_operation.cpp
  src/plugins/controls/fold_right_operation.cpp
  tests/regressions/python/904_pass_decorator.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/passing_compiler_state_453.py
  tests/unit/execution_tree/function_call_arguments.cpp
  tests/unit/python/execution_tree/eval.py
Labels: category: @Phylanx, category: PhySL, type: compatibility issue, type: enhancement

#919 Fixing constant/constant_like to properly support dtype
  phylanx/execution_tree/primitives/primitive_argument_type.hpp
  phylanx/plugins/matrixops/constant.hpp
  python/phylanx/ast/physl.py
  python/src/bindings/type_casters.hpp
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/primitives/node_data_helpers0d.cpp
  src/plugins/matrixops/constant.cpp
  src/plugins/matrixops/eye_operation.cpp
  tests/regressions/python/635_arange_args.py
  tests/regressions/python/805_lazy_variable.py
  tests/unit/plugins/matrixops/constant.cpp
  tests/unit/python/execution_tree/primitives/numpy_dtype.py
Labels: category: @Phylanx, category: PhySL, type: compatibility issue, type: enhancement

#921 Adding tuple_slize primitive allowing to pass all slicing arguments as a list
  phylanx/plugins/matrixops/slicing_operation.hpp
  src/plugins/matrixops/matrixops.cpp
  src/plugins/matrixops/slicing_operation.cpp
  tests/unit/plugins/matrixops/slicing_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#922 Add support for list comprehension.
  python/phylanx/ast/physl.py
  tests/regressions/python/911_list_comprehension.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, submodule: frontend, type: feature request

#923 Adding softsign primitive
  phylanx/plugins/keras_support/keras_support.hpp
  phylanx/plugins/keras_support/softsign_operation.hpp
  src/plugins/keras_support/keras_support.cpp
  src/plugins/keras_support/softsign_operation.cpp
  tests/unit/plugins/keras_support/CMakeLists.txt
  tests/unit/plugins/keras_support/softsign_operation.cpp
Labels: category: primitives, platform: KERAS, type: enhancement

#908 Adding resize_images primitive
  phylanx/plugins/keras_support/keras_support.hpp
  phylanx/plugins/keras_support/resize_operation.hpp
  src/plugins/keras_support/keras_support.cpp
  src/plugins/keras_support/resize_operation.cpp
  tests/unit/plugins/keras_support/CMakeLists.txt
  tests/unit/plugins/keras_support/resize_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#926 Modifying where primitive
  src/plugins/booleans/nonzero_where.cpp
  tests/unit/plugins/booleans/where_operation.cpp
Labels: type: compatibility issue

#927 Allow for explicit None to be passed as a dtype to eye()
  src/plugins/matrixops/eye_operation.cpp
  tests/regressions/python/925_none_dtype.py
  tests/regressions/python/CMakeLists.txt
Labels: category: primitives, type: compatibility issue, type: enhancement

#902 Adding pool operation
  phylanx/plugins/keras_support/keras_support.hpp
  phylanx/plugins/keras_support/pool_operation.hpp
  src/plugins/keras_support/keras_support.cpp
  src/plugins/keras_support/pool_operation.cpp
  tests/unit/plugins/keras_support/CMakeLists.txt
  tests/unit/plugins/keras_support/pool_operation.cpp
Labels: platform: KERAS, submodule: backend

#893 Categorical crossentropy
  phylanx/plugins/keras_support/categorical_crossentropy_operation.hpp
  phylanx/plugins/keras_support/keras_support.hpp
  phylanx/plugins/statistics/statistics_base.hpp
  phylanx/util/assign.hpp
  src/plugins/keras_support/categorical_crossentropy_operation.cpp
  src/plugins/keras_support/keras_support.cpp
  src/plugins/keras_support/softmax_operation.cpp
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/categorical_crossentropy.py
Labels: platform: KERAS

#928 Throwing exceptions given invalid argument to random primitive
  src/plugins/matrixops/random.cpp
  tests/unit/plugins/matrixops/random_distributions.cpp
Labels: submodule: backend, type: compatibility issue, type: enhancement

#931 Enable calling Python snippets in PhySL.
  python/phylanx/ast/physl.py
  python/phylanx/ast/transducer.py
  tests/regressions/python/905_call_python_snippet.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, submodule: frontend, type: enhancement

#932 Adding support for arrays to fold_left/fold_right
  phylanx/execution_tree/primitives/node_data_helpers.hpp
  phylanx/plugins/controls/fold_left_operation.hpp
  phylanx/plugins/controls/fold_right_operation.hpp
  src/execution_tree/primitives/node_data_helpers0d.cpp
  src/plugins/controls/fold_left_operation.cpp
  src/plugins/controls/fold_right_operation.cpp
  tests/unit/plugins/controls/fold_left_operation.cpp
  tests/unit/plugins/controls/fold_right_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#934 Making sure eval_wrapper object can be directly passed to the Phylanx bindings
  phylanx/execution_tree/primitives/target_reference.hpp
  python/phylanx/ast/physl.py
  python/src/bindings/binding_helpers.cpp
  python/src/bindings/binding_helpers.hpp
  python/src/bindings/execution_tree.cpp
  python/src/bindings/variable.cpp
  python/src/bindings/variable.hpp
  src/execution_tree/primitives/access_function.cpp
  src/execution_tree/primitives/define_variable.cpp
  src/execution_tree/primitives/target_reference.cpp
  src/execution_tree/primitives/variable_factory.cpp
  src/plugins/controls/block_operation.cpp
  src/plugins/controls/filter_operation.cpp
  tests/regressions/python/933_arange.py
  tests/regressions/python/933_eval_wrapper.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/import_933_arange1.py
  tests/regressions/python/import_933_arange2.py
  tests/regressions/python/passing_compiler_state_453.py
  tests/unit/plugins/controls/filter_operation.cpp
  tests/unit/python/execution_tree/eval.py
Labels: category: @Phylanx, category: PhySL, category: primitives, platform: KERAS, type: compatibility issue, type: enhancement

#939 Enable iterating over `zip`.
  python/phylanx/ast/physl.py
  tests/regressions/python/912_zip.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, submodule: frontend, type: enhancement

#935 Adding Switch operation
  phylanx/plugins/keras_support/keras_support.hpp
  phylanx/plugins/keras_support/switch_operation.hpp
  src/execution_tree/primitives/node_data_helpers3d.cpp
  src/plugins/keras_support/keras_support.cpp
  src/plugins/keras_support/switch_operation.cpp
  tests/unit/plugins/keras_support/CMakeLists.txt
  tests/unit/plugins/keras_support/switch_operation.cpp
Labels: category: primitives, platform: KERAS, submodule: backend

#945 Create binary crossentropy primitive
  phylanx/plugins/keras_support/binary_crossentropy_operation.hpp
  phylanx/plugins/keras_support/keras_support.hpp
  src/plugins/keras_support/binary_crossentropy_operation.cpp
  src/plugins/keras_support/keras_support.cpp
  tests/unit/python/execution_tree/CMakeLists.txt
  tests/unit/python/execution_tree/binary_crossentropy.py
Labels: platform: KERAS

#948 Adding sort primitive
  phylanx/plugins/matrixops/matrixops.hpp
  phylanx/plugins/matrixops/sort.hpp
  src/plugins/matrixops/matrixops.cpp
  src/plugins/matrixops/sort.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/sort.cpp
Labels: category: primitives, platform: KERAS, type: enhancement

#946 fixed bugs on collecting openscop glocal parameters
  python/phylanx/ast/openscop.py
Labels: category: @Phylanx, type: enhancement

#943 Support `zip` in loop comprehension expressions.
  python/phylanx/ast/physl.py
  tests/regressions/python/912_zip.py
  tests/regressions/python/933_arange.py
Labels: category: @Phylanx, submodule: frontend, type: enhancement

#938 Adding ctc_decode primitive
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/plugins/keras_support/ctc_decode_operation.hpp
  phylanx/plugins/keras_support/keras_support.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/plugins/keras_support/ctc_decode_operation.cpp
  src/plugins/keras_support/keras_support.cpp
  tests/unit/plugins/keras_support/CMakeLists.txt
  tests/unit/plugins/keras_support/ctc_decode_operation.cpp
Labels: category: primitives, platform: KERAS, type: enhancement

#944 Removing extract_boolean_data from the base primitive
  phylanx/execution_tree/primitives/base_primitive.hpp
  src/execution_tree/primitives/base_primitive.cpp
  tests/unit/plugins/booleans/and_operation.cpp
  tests/unit/plugins/booleans/equal_operation.cpp
  tests/unit/plugins/booleans/greater_equal_operation.cpp
  tests/unit/plugins/booleans/greater_operation.cpp
  tests/unit/plugins/booleans/less_equal_operation.cpp
  tests/unit/plugins/booleans/less_operation.cpp
  tests/unit/plugins/booleans/not_equal_operation.cpp
  tests/unit/plugins/booleans/or_operation.cpp
  tests/unit/plugins/booleans/unary_not_operation.cpp
Labels: category: primitives, type: enhancement

#950 Adding arithmetic operations to execution_tree.variable
  python/src/bindings/execution_tree.cpp
  python/src/bindings/variable.cpp
  python/src/bindings/variable.hpp
  tests/regressions/python/936_arithmetic_operations.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, platform: KERAS, type: compatibility issue, type: enhancement

#954 Adding 3D support to boolean primitives
  phylanx/plugins/booleans/comparison.hpp
  phylanx/plugins/booleans/comparison_impl.hpp
  phylanx/plugins/booleans/logical_operation.hpp
  phylanx/plugins/booleans/logical_operation_impl.hpp
  phylanx/plugins/matrixops/astype.hpp
  phylanx/plugins/matrixops/matrixops.hpp
  src/plugins/booleans/unary_not_operation.cpp
  src/plugins/matrixops/astype.cpp
  src/plugins/matrixops/matrixops.cpp
  tests/unit/plugins/booleans/and_operation.cpp
  tests/unit/plugins/booleans/equal_operation.cpp
  tests/unit/plugins/booleans/greater_equal_operation.cpp
  tests/unit/plugins/booleans/greater_operation.cpp
  tests/unit/plugins/booleans/less_equal_operation.cpp
  tests/unit/plugins/booleans/less_operation.cpp
  tests/unit/plugins/booleans/not_equal_operation.cpp
  tests/unit/plugins/booleans/or_operation.cpp
  tests/unit/plugins/booleans/unary_not_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#955 Adding conv1d operation
  phylanx/plugins/keras_support/conv1d_operation.hpp
  phylanx/plugins/keras_support/keras_support.hpp
  src/plugins/keras_support/conv1d_operation.cpp
  src/plugins/keras_support/keras_support.cpp
  tests/unit/plugins/keras_support/CMakeLists.txt
  tests/unit/plugins/keras_support/conv1d_operation.cpp
Labels: category: primitives, platform: KERAS, submodule: backend

#958 Modifying conv1d for dilated cases with same padding
  src/plugins/keras_support/conv1d_operation.cpp
  tests/unit/plugins/keras_support/conv1d_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#959 Argsort
  phylanx/plugins/matrixops/argsort.hpp
  phylanx/plugins/matrixops/matrixops.hpp
  src/plugins/matrixops/argsort.cpp
  src/plugins/matrixops/matrixops.cpp
  tests/unit/python/plugins/argsort.py
Labels: category: primitives, submodule: backend

#961 Adding the missing blaze tensor guards
  phylanx/plugins/keras_support/binary_crossentropy_operation.hpp
  phylanx/plugins/keras_support/categorical_crossentropy_operation.hpp
  src/plugins/keras_support/binary_crossentropy_operation.cpp
  src/plugins/keras_support/categorical_crossentropy_operation.cpp
  src/plugins/keras_support/softmax_operation.cpp
Labels: type: compatibility issue, type: enhancement

#960 Fix changed #include's from HPX preprocessor module
  phylanx/config/version.hpp
  phylanx/plugins/plugin_factory.hpp
  python/src/phylanx.cpp
  src/version.cpp
  tools/inspect/deprecated_include_check.cpp
  tools/inspect/include_check.cpp
Labels: type: compatibility issue, type: enhancement

#957 Making sure underscores in named argument names are handled properly
  src/execution_tree/compiler/compiler.cpp
  tests/regressions/python/956_named_argument_underscore.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, category: primitives, type: compatibility issue, type: enhancement

#965 Avoid broadcasting in arithmetics primitives, if possible
  phylanx/plugins/arithmetics/cumulative_impl.hpp
  phylanx/plugins/arithmetics/numeric_impl.hpp
Labels: category: primitives, type: enhancement, type: optimization
