Repository STEllAR-GROUP/phylanx, pull requests merged in 2020-10, with the labels that each got.

#1275 Adding a workaround for changed API in Pybind11 V2.6
  python/src/bindings/ast.cpp
  tests/unit/python/ast/generate_ast.py
  tests/unit/python/ast/traverse_ast.py
Labels: type: compatibility issue, type: enhancement

#1276 Add norm() primitive
  phylanx/plugins/matrixops/matrixops.hpp
  phylanx/plugins/matrixops/norm.hpp
  phylanx/util/apex_task_inlining_policy.hpp
  python/phylanx/ast/physl.py
  src/execution_tree/primitives/primitive_component_base.cpp
  src/ir/node_data.cpp
  src/plugins/fileio/file_read.cpp
  src/plugins/fileio/file_write.cpp
  src/plugins/fileio/file_write_csv.cpp
  src/plugins/matrixops/matrixops.cpp
  src/plugins/matrixops/norm.cpp
  tests/unit/plugins/matrixops/CMakeLists.txt
  tests/unit/plugins/matrixops/norm.cpp
  tests/unit/python/plugins/matrixops/CMakeLists.txt
  tests/unit/python/plugins/matrixops/linearalg.py
Labels: category: primitives, type: compatibility issue, type: enhancement

#1282 Adding support for Python's global keyword
  phylanx/execution_tree/compile.hpp
  phylanx/execution_tree/compiler/actors.hpp
  phylanx/execution_tree/compiler/compiler.hpp
  phylanx/execution_tree/compiler_component.hpp
  phylanx/execution_tree/primitives/define_variable.hpp
  phylanx/execution_tree/primitives/primitive_argument_type.hpp
  phylanx/execution_tree/primitives/variable.hpp
  phylanx/execution_tree/primitives/variable_factory.hpp
  python/phylanx/ast/physl.py
  src/execution_tree/compile.cpp
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/compiler_component.cpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/define_variable.cpp
  src/execution_tree/primitives/variable.cpp
  src/execution_tree/primitives/variable_factory.cpp
  tests/regressions/python/1279_global_keyword.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, category: PhySL, submodule: frontend, type: compatibility issue, type: enhancement

#1283 Adding hostname() primitive
  phylanx/execution_tree/primitives/debug_output.hpp
  phylanx/execution_tree/tiling_annotations.hpp
  src/execution_tree/patterns.cpp
  src/execution_tree/primitives/debug_output.cpp
  src/execution_tree/tiling_annotations.cpp
  tests/regressions/python/1281_hostname.py
  tests/regressions/python/CMakeLists.txt
  tests/unit/distributed/define_locality.cpp
  tests/unit/execution_tree/define_locality.cpp
Labels: category: primitives, type: enhancement

#1285 As a workaround, add an error diagnostic if dot_d() is being used with block-tiled matrices
  phylanx/plugins/dist_matrixops/dist_dot_operation_impl.hpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#1287 Adding equivalent primitive for np.random.randn
  phylanx/plugins/matrixops/random.hpp
  src/plugins/matrixops/matrixops.cpp
  src/plugins/matrixops/random.cpp
  tests/regressions/python/1258_randn_missing.py
  tests/regressions/python/CMakeLists.txt
Labels: category: primitives, type: compatibility issue, type: enhancement

#1286 Correct broken handling of tuples in frontend
  phylanx/execution_tree/primitives/detail/advanced_indexes.hpp
  phylanx/execution_tree/primitives/slice.hpp
  phylanx/execution_tree/primitives/slice_node_data.hpp
  phylanx/execution_tree/primitives/slice_node_data_0d.hpp
  phylanx/execution_tree/primitives/slice_node_data_1d.hpp
  phylanx/execution_tree/primitives/slice_node_data_2d.hpp
  phylanx/execution_tree/primitives/slice_node_data_3d.hpp
  phylanx/execution_tree/primitives/slice_range.hpp
  phylanx/util/slicing_helpers.hpp
  python/phylanx/ast/physl.py
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/access_variable.cpp
  src/execution_tree/primitives/assert_condition.cpp
  src/execution_tree/primitives/call_function.cpp
  src/execution_tree/primitives/enable_tracing.cpp
  src/execution_tree/primitives/format_string.cpp
  src/execution_tree/primitives/function.cpp
  src/execution_tree/primitives/lambda.cpp
  src/execution_tree/primitives/phyname.cpp
  src/execution_tree/primitives/phytype.cpp
  src/execution_tree/primitives/primitive_component.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
  src/execution_tree/primitives/slice.cpp
  src/execution_tree/primitives/slice_node_data.cpp
  src/execution_tree/primitives/slice_range.cpp
  src/execution_tree/primitives/store_operation.cpp
  src/plugins/controls/apply.cpp
  src/plugins/matrixops/slicing_operation.cpp
  src/plugins/matrixops/stack_operation.cpp
  src/util/slicing_helpers.cpp
  tests/regressions/python/1280_hstack_problem.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, submodule: frontend, type: compatibility issue, type: enhancement

#1288 Evaluate values for default arguments in Python context
  python/phylanx/ast/physl.py
  tests/regressions/python/1206_improper_defaults.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, type: compatibility issue, type: enhancement

#1289 Adding indices and fromfunction primitives
  phylanx/execution_tree/compiler/primitive_name.hpp
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  phylanx/plugins/common/indices.hpp
  phylanx/plugins/controls/controls.hpp
  phylanx/plugins/controls/fromfunction.hpp
  phylanx/plugins/controls/indices.hpp
  phylanx/plugins/dist_matrixops/dist_constant.hpp
  phylanx/plugins/dist_matrixops/dist_diag.hpp
  phylanx/plugins/dist_matrixops/dist_identity.hpp
  phylanx/util/scoped_timer.hpp
  src/execution_tree/compiler/primitive_name.cpp
  src/execution_tree/primitives/lambda.cpp
  src/execution_tree/primitives/primitive_component.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
  src/execution_tree/primitives/target_reference.cpp
  src/plugins/common/indices.cpp
  src/plugins/controls/CMakeLists.txt
  src/plugins/controls/controls.cpp
  src/plugins/controls/fromfunction.cpp
  src/plugins/controls/indices.cpp
  src/plugins/dist_matrixops/dist_constant.cpp
  src/plugins/dist_matrixops/dist_diag.cpp
  src/plugins/dist_matrixops/dist_identity.cpp
  tests/performance/blaze_benchmarks.cpp
  tests/performance/simple_loop.cpp
  tests/regressions/execution_tree/random_d_1139.cpp
  tests/regressions/python/912_zip.py
  tests/unit/execution_tree/parse_primitive_name.cpp
  tests/unit/plugins/controls/CMakeLists.txt
  tests/unit/plugins/controls/fromfunction.cpp
  tests/unit/plugins/controls/indices_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#1292 Apply HPX and HighFive header updates
  phylanx/util/detail/blaze-highfive.hpp
  src/execution_tree/primitives/find_all_localities.cpp
  src/plugins/load_plugins.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement
