Repository STEllAR-GROUP/phylanx, pull requests merged in 2020-09, with the labels that each got.

#1238 Changes in test cases to correct misspelled imports and in setup.py.in to automate NumPy installation
  cmake/templates/setup.py.in
  tests/unit/python/ir/test_nodes.py
  tests/unit/python/ir/test_symbol_table.py
Labels: type: enhancement

#1237 Avoiding deadlocks during output to hpx::cout
  src/ir/node_data.cpp
  tests/regressions/python/1235_print.py
  tests/regressions/python/CMakeLists.txt
Labels: category: primitives, type: enhancement

#1239 Adding infrastructure for PhySL stack traces
  phylanx/execution_tree/primitives/primitive_argument_type.hpp
  phylanx/execution_tree/primitives/primitive_component_base.hpp
  phylanx/util/generate_error_message.hpp
  python/phylanx/ast/physl.py
  python/phylanx/execution_tree/__init__.py
  python/src/bindings/binding_helpers.hpp
  python/src/bindings/execution_tree.cpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/access_function.cpp
  src/execution_tree/primitives/access_variable.cpp
  src/execution_tree/primitives/annotate_primitive.cpp
  src/execution_tree/primitives/assert_condition.cpp
  src/execution_tree/primitives/call_function.cpp
  src/execution_tree/primitives/enable_tracing.cpp
  src/execution_tree/primitives/format_string.cpp
  src/execution_tree/primitives/function.cpp
  src/execution_tree/primitives/lambda.cpp
  src/execution_tree/primitives/phyname.cpp
  src/execution_tree/primitives/phytype.cpp
  src/execution_tree/primitives/primitive_argument_type.cpp
  src/execution_tree/primitives/primitive_component_base.cpp
  src/execution_tree/primitives/store_operation.cpp
  src/execution_tree/primitives/target_reference.cpp
  src/execution_tree/primitives/timer.cpp
  src/execution_tree/primitives/variable.cpp
  src/execution_tree/primitives/variable_factory.cpp
  src/util/generate_error_message.cpp
  tests/regressions/python/passing_compiler_state_453.py
  tests/unit/python/execution_tree/eval.py
Labels: category: PhySL, type: enhancement

#1240 Changing compiler to collapse nested slice() operations
  src/execution_tree/compiler/compiler.cpp
  tests/regressions/python/1236_store_failure.py
  tests/regressions/python/CMakeLists.txt
  tests/regressions/python/list_iteration_524.py
Labels: category: PhySL, type: compatibility issue, type: enhancement

#1247 Making sure slicing of function arguments is properly functional
  phylanx/execution_tree/primitives/base_primitive.hpp
  src/execution_tree/primitives/access_variable.cpp
  src/execution_tree/primitives/base_primitive.cpp
  tests/regressions/python/1244_function_call.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, type: enhancement

#1246 Add --print-format=[plain|physl|json] to physl interpreter
  examples/interpreter/physl.cpp
  phylanx/execution_tree/annotation.hpp
  phylanx/execution_tree/primitives/primitive_argument_type.hpp
  src/execution_tree/annotation.cpp
  src/execution_tree/primitives/base_primitive.cpp
  tests/unit/execution_tree/primitives/dictionary.cpp
Labels: category: PhySL, category: examples, type: enhancement

#1248 Making sure lists can be (non-)equality compared
  phylanx/plugins/booleans/comparison_impl.hpp
  phylanx/plugins/booleans/logical_operation_impl.hpp
  src/plugins/booleans/equal.cpp
  src/plugins/booleans/greater.cpp
  src/plugins/booleans/greater_equal.cpp
  src/plugins/booleans/less.cpp
  src/plugins/booleans/less_equal.cpp
  src/plugins/booleans/not_equal.cpp
  tests/regressions/python/1242_list_comparison.py
  tests/regressions/python/CMakeLists.txt
Labels: category: PhySL, type: compatibility issue, type: enhancement

#1251 Adding stack traces to all error message generated from indexing/slicing
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/execution_tree/primitives/detail/advanced_indexes.hpp
  phylanx/execution_tree/primitives/slice.hpp
  phylanx/execution_tree/primitives/slice_node_data.hpp
  phylanx/execution_tree/primitives/slice_node_data_0d.hpp
  phylanx/execution_tree/primitives/slice_node_data_1d.hpp
  phylanx/execution_tree/primitives/slice_node_data_2d.hpp
  phylanx/execution_tree/primitives/slice_node_data_3d.hpp
  phylanx/execution_tree/primitives/slice_range.hpp
  phylanx/util/slicing_helpers.hpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/base_primitive.cpp
  src/execution_tree/primitives/slice.cpp
  src/execution_tree/primitives/slice_node_data.cpp
  src/execution_tree/primitives/slice_range.cpp
  src/execution_tree/primitives/variable.cpp
  src/plugins/matrixops/slicing_operation.cpp
  src/util/slicing_helpers.cpp
  tests/unit/plugins/dist_matrixops/CMakeLists.txt
  tests/unit/plugins/dist_matrixops/dist_inverse_3_loc.cpp
Labels: category: @Phylanx, type: enhancement

#1257 Supporting new _Constant handling in Python 3.8
  python/phylanx/ast/physl.py
  tests/regressions/python/1255_assign_string.py
  tests/regressions/python/CMakeLists.txt
Labels: category: @Phylanx, type: compatibility issue, type: enhancement

#1262 Teaching the front end about assert
  python/phylanx/ast/physl.py
  src/execution_tree/compiler/compiler.cpp
  src/execution_tree/primitives/assert_condition.cpp
Labels: category: @Phylanx, type: compatibility issue, type: enhancement

#1265 Adding additional debugging support to frontend
  python/phylanx/ast/physl.py
  python/phylanx/ast/transducer.py
  python/phylanx/core/config.py
Labels: category: @Phylanx, type: compatibility issue, type: enhancement

#1269 Adding random_sample functionality
  phylanx/plugins/matrixops/random.hpp
  src/plugins/matrixops/matrixops.cpp
  src/plugins/matrixops/random.cpp
  tests/regressions/python/1267_random_integers.py
  tests/regressions/python/1267_random_sample.py
  tests/regressions/python/CMakeLists.txt
Labels: category: primitives, type: compatibility issue, type: enhancement

#1270 Adding argument names to statistics primitives
  phylanx/plugins/common/statistics_nd.hpp
  phylanx/plugins/common/statistics_nd_impl.hpp
  phylanx/plugins/dist_statistics/dist_statistics_base.hpp
  phylanx/plugins/dist_statistics/dist_statistics_base_impl.hpp
  phylanx/plugins/statistics/statistics_base.hpp
  phylanx/plugins/statistics/statistics_base_impl.hpp
  python/phylanx/ast/physl.py
  src/execution_tree/primitives/access_function.cpp
  src/execution_tree/primitives/access_variable.cpp
  src/execution_tree/primitives/timer.cpp
  src/plugins/arithmetics/cumprod.cpp
  src/plugins/arithmetics/cumsum.cpp
  src/plugins/common/all_operation.cpp
  src/plugins/common/any_operation.cpp
  src/plugins/common/conv1d_all_paddings.cpp
  src/plugins/common/logsumexp_operation.cpp
  src/plugins/common/max_operation.cpp
  src/plugins/common/mean_operation.cpp
  src/plugins/common/min_operation.cpp
  src/plugins/common/prod_operation.cpp
  src/plugins/common/stddev_operation.cpp
  src/plugins/common/sum_operation.cpp
  src/plugins/common/var_operation.cpp
  src/plugins/dist_statistics/max_d_operation.cpp
  src/plugins/statistics/all_operation.cpp
  src/plugins/statistics/any_operation.cpp
  src/plugins/statistics/logsumexp_operation.cpp
  src/plugins/statistics/max_operation.cpp
  src/plugins/statistics/mean_operation.cpp
  src/plugins/statistics/min_operation.cpp
  src/plugins/statistics/prod_operation.cpp
  src/plugins/statistics/std_operation.cpp
  src/plugins/statistics/sum_operation.cpp
  src/plugins/statistics/var_operation.cpp
  tests/regressions/python/1266_sum_axis_argument.py
  tests/regressions/python/CMakeLists.txt
  tests/unit/plugins/statistics/std_operation.cpp
  tests/unit/plugins/statistics/var_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement
