Repository STEllAR-GROUP/phylanx, pull requests merged in 2020-08, with the labels that each got.

#1222 Make sure physl interpreter works in spmd mode by default
  examples/interpreter/physl.cpp
  phylanx/plugins/dist_matrixops/dist_cannon_product_impl.hpp
Labels: category: PhySL, type: compatibility issue, type: enhancement

#1219 Frontend: Support `ast.Constant` (python 3.6+).
  python/phylanx/ast/physl.py
Labels: category: PhySL, submodule: frontend, type: defect

#1226 Adding support for len() on dictionaries
  phylanx/execution_tree/primitives/base_primitive.hpp
  phylanx/plugins/listops/len_operation.hpp
  phylanx/plugins/matrixops/extract_shape.hpp
  src/execution_tree/primitives/base_primitive.cpp
  src/plugins/listops/len_operation.cpp
  src/plugins/matrixops/extract_shape.cpp
  src/plugins/matrixops/matrixops.cpp
  tests/regressions/python/1224_dictionary_len.py
  tests/regressions/python/CMakeLists.txt
  tests/unit/plugins/listops/len_operation.cpp
Labels: category: primitives, type: compatibility issue, type: enhancement

#1227 Adding support for dictionaries to for_each
  src/plugins/controls/for_each.cpp
  tests/regressions/python/1225_iterate_dictionary.py
  tests/regressions/python/CMakeLists.txt
Labels: category: primitives, type: compatibility issue, type: enhancement

#1229 Start time counter in non-distributed ALS python version after reading input and slicing
  examples/algorithms/als/als.py
Labels: category: algorithms

#1233 Converting all conv1d variations to use hpx::parallel::for_loop
  src/plugins/common/conv1d_all_paddings.cpp
Labels: category: primitives, type: enhancement

#1232 Reimplement dictionary type to allow referencing
  phylanx/ir/dictionary.hpp
  python/src/bindings/type_casters.hpp
  src/execution_tree/primitives/access_argument.cpp
  src/execution_tree/primitives/base_primitive.cpp
  src/execution_tree/primitives/slice.cpp
  src/execution_tree/primitives/store_operation.cpp
  src/ir/dictionary.cpp
  src/plugins/controls/fold_left_operation.cpp
  src/plugins/controls/for_each.cpp
  src/plugins/listops/dictionary_operation.cpp
  src/plugins/listops/len_operation.cpp
  src/plugins/listops/make_list.cpp
  tests/regressions/python/1230_assign_argument_dictionary.py
  tests/regressions/python/CMakeLists.txt
  tests/unit/plugins/controls/fold_left_operation.cpp
  tests/unit/plugins/listops/dictionary_operation.cpp
Labels: category: @Phylanx, category: primitives, type: compatibility issue, type: enhancement
